/* Css cross browser initialization */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
     margin:0;
      padding:0;
}
table {
     border-collapse:collapse;
      border-spacing:0;
}
fieldset,img {
     border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
     font-style:normal;
      font-weight:normal;
}
ol,ul {
     list-style:none;
}
caption,th {
     text-align:left;
}
h1,h2,h3,h4,h5,h6 {
     font-size:100%;
      font-weight:normal;
}
q:before,q:after {
     content:'';
}
abbr,acronym {
    border:0;
}

/* Css cross browser initialization end*/

textarea:focus, input:focus{
    outline: 0;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color:#4D4D4D;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#4D4D4D;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#4D4D4D;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#4D4D4D;
}

.simple-clearfix{
  clear:both;
}
.clearfix{
  clear:both;
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
html, body {
    overflow: hidden;
    height:100%;
    font-size:12px;
}
