html, body {
    font-family: "Roboto", sans-serif, Dotum, arial;
    font-weight:300;
    height:100%;
    overflow-y:hidden;
    -ms-overflow-style:none;
    position:relative;
    background: #ffffff;
}

body {
    height: 100%;
    overflow: hidden;
}

#dropbeat {
    -ms-overflow-style:auto;
}

#dropbeat {
    width:100%;
    height:140px;
    overflow:hidden;
    position:relative;
    -webkit-touch-callout: none;
    /*.user-select(none);*/
    background:#f5f5f5;
    height:140px;
}

#dropbeat .view-holder {
    height:100%;
    position:relative;
}

#page-failure {
    padding-top:26px;
}
#page-failure .page-title {
    color:#88898c;
    font-weight:400;
    font-size:16px;
    text-align:center;
}
#page-failure .page-desc {
    margin-top:15px;
    color:#88898c;
    font-size:12px;
    text-align:center;
}
#page-failure .footer .logo {
    display:inline-block;
    cursor:pointer;
    width:137px;
    height:14px;
    position:absolute;
    bottom:15px;
    margin-left:-63.5px;
    left:50%;
    text-indent:-9999px;
    background-image:url("/images/player_sprites_lteie8.png");
    background-size:200px 300px;
    background-position:-60px 0;
    background-repeat: no-repeat;
}
