html, body {
    font-family:dotum, "Georgia Pro", Arial;
}
#dropbeat > .contents{
    position:absolute;
    top:0;
    left:0;
    right:402px;
    height:100%;
    background:#2C2C2C;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    min-width:400px;
    overflow:hidden;
}
#dropbeat .logo-header{
    float: left;
    margin-left:6px;
    text-indent:-9999px;
    background:url("img/main_logo_blur.png");
    width:189px;
    height:60px;
    cursor: pointer;
}
#dropbeat .github-link{
    float: right;
    background:url("img/github.png");
    width:58px;
    height:58px;
    cursor: pointer;
}
#dropbeat .contents .header-section{
    height:74px;
    padding:40px 40px 0;
}
#dropbeat .contents .body-section{
    position: relative;
    margin:0 40px;
}
#dropbeat .contents .footer-section{
    background:#242424;
    height:0;
    border-top:1px solid #111111;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .contents .footer-section-inner{
    border-top:1px solid #515151;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .ready-comment{
    position:absolute;
    left:50%;
    text-align:center;
    color:#7C7C7C;
    padding-bottom:15px;
}
#dropbeat .ready-comment{
    width:310px;
    margin-left:-155px;
    font-family:arial;
}
#dropbeat .ready-comment .catchphrase h1,
#dropbeat .ready-comment .catchphrase h2{
    font-size:20px;
}
#dropbeat .ready-comment .suppliments{
    display:none;
}
@media all and (min-width: 1000px) {
    #dropbeat .ready-comment{
        width:520px;
        margin-left:-260px;
        padding-bottom:40px;
    }
    #dropbeat .ready-comment .catchphrase h1,
    #dropbeat .ready-comment .catchphrase h2{
        font-size:34px;
    }
    #dropbeat .ready-comment .suppliments{
        display:block;
        font-size: 16px;
    }
}
@media all and (min-width: 1300px) {
    #dropbeat .ready-comment{
        width:800px;
        margin-left:-400px;
    }
    #dropbeat .ready-comment .catchphrase h1,
    #dropbeat .ready-comment .catchphrase h2{
        font-size:45px;
    }
    #dropbeat .ready-comment .suppliments{
        font-size: 20px;
    }
}
#dropbeat .ready-comment .catchphrase{
    color: rgb(153, 153, 153);
}
#dropbeat .ready-comment .catchphrase h1{
    font-weight:bold;
}
#dropbeat .ready-comment .catchphrase h2{
}
#dropbeat .ready-comment .suppliments{
    font-weight: 300;
    margin-top: 20px;
    color: rgb(138, 138, 138);
}
#dropbeat .ready-comment .suppliments .strong{
    font-weight: 600;
    font-size: 20px;
    padding-top: 15px;
}

#dropbeat .recom-section{
    position:relative;
    padding:10px 50px;
}
#dropbeat .recom-section .title{
    color:#7C7C7C;
    padding-bottom:5px;
}
#dropbeat .recom-section .loading-spinner{
    display:none;
    color:white;
    text-align:center;
    padding-top:30px;
}
#dropbeat .recom-results{
    width:100%;
}
#dropbeat .recom-results .a-addable-music{
    border-top:1px solid #181818;
    color:white;
    height:35px;
    line-height:34px;
    font-size:12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding-top:1px;
}
#dropbeat .recom-results .a-addable-music .play-music{
    cursor:pointer;
}
#dropbeat .recom-results .a-addable-music .music-add{
    width:20px;
    padding:0 5px;
}
#dropbeat .recom-results .a-addable-music .music-add .add-to-playlist{
    display:block;
    background:url("img/ic_add.png");
    background-size:contain;
    width:20px;
    height:20px;
    text-indent:-9999px;
    cursor:pointer;
}
#dropbeat .search-section{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
#dropbeat .search-spinner{
    display:none;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    width:80px;
    height:50px;
    color:white;
    margin-left:-40px;
}
#dropbeat .search-spinner .status{
    padding-top:10px;
}
#dropbeat .player-initialize-filter{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:white;
}
#dropbeat .player-initialize-filter .loading-spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -20px;
    width: 200px;
    text-align: center;
}
#dropbeat .player-initialize-filter .loading-spinner .status{
    padding-top:10px;
}
#dropbeat .player-initialize-filter .filter-bg{
    background:black;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#dropbeat .search-result-section{
    display:none;
    position: absolute;
    width: 100%;
    top: 60px;
    bottom:10px;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow:auto;

    scrollbar-face-color: #1e1e1e;
    scrollbar-highlight-color: #1e1e1e;
    scrollbar-shadow-color: #1e1e1e;
    scrollbar-3dlight-color: #1e1e1e;
    scrollbar-arrow-color: #1e1e1e;
    scrollbar-track-color: #2c2c2c;
    scrollbar-darkshadow-color: #1e1e1e;
}
#dropbeat .search-result-section::-webkit-scrollbar{
    width:8px;
    background-color:transparent;
}
#dropbeat .search-result-section::-webkit-scrollbar-thumb{
    background-color: #1e1e1e;
    border-radius: 4px;
    border:1px solid #333333;
}
#dropbeat .search-result-section::-webkit-scrollbar-thumb:hover{
    background-color:#111;
    border:1px solid #333333;
}
#dropbeat .search-result-section::-webkit-scrollbar-thumb:active{
    background-color:#111;
    border:1px solid #333333;
}
#dropbeat .search-input-field{
    float:left;
    width:60%;
    height:47px;
    position:relative;
    padding-right:28px;
    max-width: 579px;
}
#dropbeat .search-input-field .input-field-inner{
    height:47px;
    background: transparent url(img/images.png) no-repeat left 0;
}
#dropbeat .search-input-field .input-field-suppliment{
    position:absolute;
    right:0;
    top:0;
    width:28px;
    height:100%;
    background: transparent url(img/images.png) no-repeat -580px -222px;
}
#dropbeat .search-input-field #search-input{
    color:white;
    font-size:12px;
    padding:15px 0px 15px 50px;
    background:transparent;
    border:none;
    height:47px;
    line-height:17px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .search-button{
    float:left;
    margin-left:10px;
    display:block;
    width:90px;
    height:47px;
    position:relative;
    cursor:pointer;
}
#dropbeat .search-button .button-text{
    position:absolute;
    text-align:center;
    color:white;
    line-height:47px;
    width:100%;
    font-size:12px;
}
#dropbeat .search-button .button-bg{
    display:block;
    height:47px;
    background: transparent url(img/images.png) no-repeat -518px -270px;
    padding-right:28px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .search-button .button-bg-inner{
    display:block;
    height:47px;
    background: transparent url(img/images.png) no-repeat left -48px;
}
#dropbeat .search-results{
    width:100%;
}
#dropbeat .search-results .a-addable-music{
    border-top:1px solid #232323;
    color:white;
    height:45px;
    line-height:44px;
    font-size:12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding-top:1px;
}
#dropbeat .search-results .a-addable-music .play-music{
    cursor:pointer;
}
#dropbeat .search-results .a-addable-music .music-index{
    padding:0 5px;
}
#dropbeat .search-results .a-addable-music .music-add{
    width:26px;
    padding:0 5px;
}
#dropbeat .search-results .a-addable-music .music-add .add-to-playlist{
    display:block;
    background:url("img/ic_add.png");
    width:26px;
    height:26px;
    text-indent:-9999px;
    cursor:pointer;
}
#dropbeat .search-results .a-addable-music .music-download .download-music{
    display:block;
    background:url("img/download.png");
    width:24px;
    height:24px;
    text-indent:-9999px;
    cursor:pointer;
}
#dropbeat .external-player-section{
    position:absolute;
    top:60px;
    left:-239px;
    overflow:hidden;
    width: 200px;
    height: 200px;
}
#dropbeat .external-player-section #external-player{
    position:absolute;
    top:0;
}
#dropbeat > .play-controls{
    position:absolute;
    top:0;
    right:0;
    width:402px;
    height:100%;
    background:url("img/bg_player.png");
    overflow:hidden;
}
#dropbeat .player-section{
    height:268px;
    border-bottom:1px solid #111111;
    padding:58px 40px 0;
    color:white;
    font-size:12px;
    text-align:center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .player-section .title{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
#dropbeat .player-section .status-wrapper{
    margin-top:5px;
}
#dropbeat .player-section .progress{
    margin-top:22px;
    position:relative;
    padding-bottom:10px;
}
#dropbeat .player-section .progress-bar{
    background:#393939;
    height:4px;
    border-radius:2px;
}
#dropbeat .player-section .progress-bar .buffer{
    background:#939494;
    height:4px;
    border-radius:2px;
    position:absolute;
    left:0;
    top:0;
}
#dropbeat .player-section .progress-bar .bullet{
    background:white;
    height:4px;
    border-radius:2px;
    position:absolute;
    left:0;
    top:0;
}
#dropbeat .player-section .progress-handle{
    position:absolute;
    top:2px;
    left:0px;
    width:6px;
    height:18px;
    margin-top:-9px;
    margin-left:-3px;
    background:url("img/handle_progress.png");
}
#dropbeat .player-section .curr-play-time{
    float:left;
    padding-top:7px;
}
#dropbeat .player-section .total-play-time{
    float:right;
    padding-top:7px;
}
#dropbeat .player-section .controls{
    position:absolute;
    text-indent:-9999px;
    height:64px;
    z-index:1;
}
#dropbeat .player-section .controls .ctrl-shuffle{
    position:absolute;
    left:0;
    background:url("img/btn_player_shuffle.png");
    width:20px;
    height:17px;
    margin-top:-9px;
}
#dropbeat .player-section .controls .ctrl-shuffle.shuffle{
    background-position:0 -17px;
}
#dropbeat .player-section .controls .ctrl-repeat{
    position:absolute;
    left:30px;
    background:url("img/btn_player_repeat.png");
    width:26px;
    height:17px;
    margin-top:-9px;
}
#dropbeat .player-section .controls .ctrl-repeat.repeat{
    background-position:0 -17px;
}
#dropbeat .player-section .controls .ctrl-repeat.repeat-one{
    background-position:0 -34px;
}
#dropbeat .player-section .controls .ctrl{
    position:absolute;
    top:32px;
    display:block;
    cursor:pointer;
}
#dropbeat .player-section .controls .ctrl-prev{
    position:absolute;
    left:84px;
    width:24px;
    height:22px;
    margin-top:-11px;
    background:url("img/btn_player_prev.png");
}
#dropbeat .player-section .controls .ctrl-prev.disabled{
    cursor:default;
    background-position:0 -22px;
}
#dropbeat .player-section .controls .ctrl-prev:hover{
    background-position:0 -22px;
}
#dropbeat .player-section .controls .ctrl-play{
    position:absolute;
    left:130px;
    width:64px;
    height:64px;
    margin-top:-32px;
    background:url("img/btn_player_play.png");
}
#dropbeat .player-section .controls .ctrl-play.disabled{
    cursor:default;
    background-position:0 -64px;
}
#dropbeat .player-section .controls .ctrl-play:hover{
    background-position:0 -64px;
}
#dropbeat .player-section .controls .ctrl-play.pause{
    background-position:0 -128px;
}
#dropbeat .player-section .controls .ctrl-play.pause.disabled{
    cursor:default;
    background-position:0 -192px;
}
#dropbeat .player-section .controls .ctrl-play.pause:hover{
    background-position:0 -192px;
}
#dropbeat .player-section .controls .ctrl-next{
    position:absolute;
    left:216px;
    height:22px;
    width:24px;
    margin-top:-11px;
    background:url("img/btn_player_next.png");
}
#dropbeat .player-section .controls .ctrl-next.disabled{
    background-position:0 -22px;
    cursor:default;
}
#dropbeat .player-section .controls .ctrl-next:hover{
    background-position:0 -22px;
}
#dropbeat .player-section .download{
    position:relative;
    margin-top:10px;
}
#dropbeat .player-section .download .download-button{
    display:block;
    width:24px;
    height:24px;
    position:absolute;
    cursor:pointer;
    top:10px;
    left:270px;
    background-image:url("img/btn_download_ctrl.png");
    background-size:cover;
    background-position:0 -24px;
}
#dropbeat .player-section .download .download-button:hover{
    background-position:0 0;
}
#dropbeat .player-section .download .download-button.disabled{
    cursor:default;
    background-position:0 0;
}
#dropbeat .player-section .download .download-button.on-download{
    cursor:default;
    background-image:url("img/loader_ctrl.gif");
}
#dropbeat .player-section .download .download-progress{
    display:none;
    position:relative;
    margin-top:4px;
    top:65px;
}
#dropbeat .player-section .download .download-progress .status-text{
    color:#767676;
    text-align:center;
    padding-top:5px;
}
#dropbeat .player-section .download .download-progress .progress-bar{
    position:relative;
    background:#393939;
    height:4px;
    border-radius:2px;
    overflow:hidden;
    margin-top:5px;
}
#dropbeat .player-section .download .download-progress .progress-bar .ratio{
    background:#767676;
    height:4px;
    width:0%;
}
#dropbeat .playlist-section{
    position:absolute;
    top:268px;
    bottom:0;
    right:0;
    width:100%;
}
#dropbeat .playlist-section .playlist-tabs{
    background:#111111;
    color:#7C7C7C;
    text-align:center;
    font-size:12px;
}
#dropbeat .playlist-section .playlist-tab{
    float:left;
    width:134px;
    height:47px;
    line-height:48px;
    border-right:1px solid #161616;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    padding-top:1px;
    padding-left:1px;
}
#dropbeat .playlist-section .playlist-tab-inner{
    border-right:1px solid #080808;
}
#dropbeat .playlist-section .playlist-tab-0{
    border-left:none;
}
#dropbeat .playlist-section .playlist-tab-on{
    border-top:1px solid #292929;
    padding-top:0;
    padding-left:0;
    background:#232323;
    border-right:none;
    height:48px;
}
#dropbeat .playlist-section .playlist-tab-0.playlist-tab-on{
    background:url("img/bg_playlist_header.png");
}
#dropbeat .playlist-section .playlist-tab-on .playlist-tab-inner{
    border-right:none;
}
#dropbeat .playlist-section .playlist-search{
    background:url("img/bg_player.png");
    padding:15px;
    border-bottom:1px solid #181818
}
#dropbeat .playlist-section .playlist-search .playlist-search-field{
    background: transparent url(img/images.png) no-repeat -223px -318px;
    padding-right:15px;
}
#dropbeat .playlist-section .playlist-search .playlist-search-field .input-field-inner{
    height:30px;
    background: transparent url(img/images.png) no-repeat left -96px;
}
#dropbeat .playlist-section .playlist-search #search-playlist-input{
    color:white;
    font-size:12px;
    padding: 7px 0px 7px 35px;
    background:transparent;
    border:none;
    line-height:16px;
    height:30px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .add-by-url-section{
    padding:15px 25px;
    background:url("img/bg_playlist_body.png");
    border-bottom:1px solid #181818;
    position:relative;
    height:30px;
}
#dropbeat .add-by-url-section .loading-spinner{
    display:none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 30px;
    margin-top: -7px;
    text-align:center;
}
#dropbeat .add-by-url-section .url-input-field{
    float:left;
    width:284px;
    height:30px;
    background: transparent url(img/images.png) no-repeat -300px -349px;
    padding-right:4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .add-by-url-section .url-input-field .input-field-inner{
    height:30px;
    background: transparent url(img/images.png) no-repeat left -127px;
}
#dropbeat .add-by-url-section .url-input-field #add-by-url-input{
    color:white;
    font-size:12px;
    padding: 7px 0px 7px 10px;
    background:transparent;
    border:none;
    line-height:16px;
    height:30px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .add-by-url-section .add-button{
    float:left;
    margin-left:8px;
    display:block;
    width:60px;
    height:30px;
    position:relative;
    cursor:pointer;
}
#dropbeat .add-by-url-section .add-button .button-text{
    position:absolute;
    text-align:center;
    color:#888888;
    line-height:30px;
    width:100%;
    font-size:12px;
}
#dropbeat .add-by-url-section .add-button .button-bg{
    display:block;
    height:30px;
    background: transparent url(img/images.png) no-repeat -524px -380px;
    padding-right:4px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .add-by-url-section .add-button .button-bg-inner{
    display:block;
    height:30px;
    background: transparent url(img/images.png) no-repeat left -158px;
}
#dropbeat .playlist{
    padding:5px 15px 5px 25px;
    overflow-y:auto;
    overflow-x:hidden;
    background:url("img/bg_playlist_body.png");
    position: absolute;
    width: 100%;
    top: 170px;
    bottom: 48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    scrollbar-face-color: #4b4b4b;
    scrollbar-highlight-color: #4b4b4b;
    scrollbar-shadow-color: #4b4b4b;
    scrollbar-3dlight-color: #4b4b4b;
    scrollbar-arrow-color: #4b4b4b;
    scrollbar-track-color: #1e1e1e;
    scrollbar-darkshadow-color: #4b4b4b;
}
#dropbeat .playlist::-webkit-scrollbar{
    width:6px;
    background-color:transparent;
}
#dropbeat .playlist::-webkit-scrollbar-thumb{
    background-color: #4b4b4b;
    border-radius: 4px;
}
#dropbeat .playlist::-webkit-scrollbar-thumb:hover{
    background-color:#6d6d6d;
}
#dropbeat .playlist::-webkit-scrollbar-thumb:active{
    background-color:#6d6d6d;
}
#dropbeat .playlist .a-playlist-music{
    padding:8px 0;
    height:16px;
    line-height:16px;
    position:relative;
}
#dropbeat .playlist .a-playlist-music .music-title-wrapper{
    float:left;
    display:block;
    width:330px;
    color:#767676;
    cursor:pointer;
    text-decoration:none;
}
#dropbeat .playlist .a-playlist-music .music-title-scroll-wrapper{
    width:300px;
    height:16px;
    display:block;
    overflow:hidden;
    position:relative;
}
#dropbeat .playlist .a-playlist-music .music-index{
    float:left;
    display:block;
    height:16px;
    padding-right:5px;
    text-align:center;
}
#dropbeat .playlist .a-playlist-music .music-title{
    position:absolute;
    white-space:nowrap;
    display:block;
    left:0;
    height:16px;
}
#dropbeat .playlist .a-playlist-music .music-remove,
#dropbeat .playlist .a-playlist-music .music-download{
    width:10px;
    height:10px;
    background-size:cover;
    float:right;
    display:block;
    color:#767676;
    cursor:pointer;
    text-indent:-9999px;
    margin-top:3px;
}
#dropbeat .playlist .a-playlist-music .music-remove:hover,
#dropbeat .playlist .a-playlist-music .music-download:hover{
    background-position:0 -10px;
}
#dropbeat .playlist .a-playlist-music .music-download{
    margin-left:5px;
    background-image:url("img/btn_download_list.png");
}
#dropbeat .playlist .a-playlist-music .music-download.on-download{
    background-image:url("img/loader_playlist.gif");
    cursor:default;
}
#dropbeat .playlist .a-playlist-music .music-remove{
    background-image:url("img/btn_remove_list.png");
    margin-left:5px;
}
#dropbeat .playlist .a-playlist-music .music-on-icon{
    display:none;
    background:url("img/ic_play.png");
    width:12px;
    height:12px;
    margin-top:2px;
    margin-right:5px;
}
#dropbeat .playlist .a-playlist-music .music-title-wrapper:hover{
    color:#8D8F8F;
}
#dropbeat .playlist .a-playlist-music.on .music-title-wrapper,
#dropbeat .playlist .a-playlist-music.on .music-title-wrapper:hover{
    color:white;
    cursor:default;
}
#dropbeat .playlist .a-playlist-music.on .music-title{
    text-decoration:underline;
}
#dropbeat .playlist .a-playlist-music.on .music-index{
    display:none;
}
#dropbeat .playlist .a-playlist-music.on .music-on-icon{
    display:block;
    float:left;
}
#dropbeat .playlist .a-playlist-music .download-progress{
    display:none;
}
#dropbeat .playlist .a-playlist-music .download-progress .status-text{
    color:#767676;
    text-align:center;
}
#dropbeat .playlist .a-playlist-music .download-progress .progress-bar{
    position:relative;
    background:#393939;
    height:4px;
    border-radius:2px;
    overflow:hidden;
}
#dropbeat .playlist .a-playlist-music .download-progress .progress-bar .ratio{
    background:#767676;
    height:4px;
    width:0%;
}
#dropbeat .playlist-footer{
    background:url("img/bg_playlist_header.png");
    height:48px;
    border-top:1px solid #171717;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .playlist-footer .description{
    float:left;
    height:48px;
    line-height:48px;
    color:#7C7C7C;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 140px;
    overflow:hidden;
}
#dropbeat .playlist-footer .description .music-count{
    color:white;
}
#dropbeat .playlist-footer .clear-playlist-button{
    margin-top:6px;
    float:right;
    display:block;
    width:101px;
    height:32px;
    position:relative;
    cursor:pointer;
}
#dropbeat .playlist-footer .clear-playlist-button .button-text{
    position:absolute;
    text-align:center;
    color:#7C7C7C;
    line-height:32px;
    width:100%;
    font-size:12px;
}
#dropbeat .playlist-footer .clear-playlist-button .button-bg{
    display:block;
    height:32px;
    background: transparent url(img/images.png) no-repeat -483px -411px;
    padding-right:4px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .playlist-footer .clear-playlist-button .button-bg-inner{
    display:block;
    height:32px;
    background: transparent url(img/images.png) no-repeat left -189px;
}
#dropbeat .playlist-footer .share-playlist-button{
    margin-top:6px;
    float:right;
    display:block;
    width:101px;
    height:32px;
    position:relative;
    cursor:pointer;
    margin-right:5px;
}
#dropbeat .playlist-footer .share-playlist-button .button-text{
    position:absolute;
    text-align:center;
    color:#7C7C7C;
    line-height:32px;
    width:100%;
    font-size:12px;
}
#dropbeat .playlist-footer .share-playlist-button .button-bg{
    display:block;
    height:32px;
    background: transparent url(img/images.png) no-repeat -483px -411px;
    padding-right:4px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#dropbeat .playlist-footer .share-playlist-button .button-bg-inner{
    display:block;
    height:32px;
    background: transparent url(img/images.png) no-repeat left -189px;
}
