@color_bg: #f5f5f5;
@color_perfect_black: #000000;
@color_deep_black: #121314;
@color_light_black: #1c1c1f;
@color_very_light_black: #222326;
@color_super_light_black: #2e2f33;
@color_popup_border_black: #27282b;
@color_border_black: #1b1c1f;
@color_dark_purple: #5C0B84;
@color_pink: #f03eb1;
@color_purple: #a003ec;
@color_light_purple: #cd85ff;
@color_pink: #f03eb1;
@color_dark_gray: #3e3e40;
@color_gray: #88898c;
@color_light_gray: #adaeb3;
@color_very_light_gray: #dcdde3;
@color_white: #ffffff;
@bg_images: "../bg_images";
@images: "../images";
@sprite_size: 200px 300px;
@sprite_cache_ver: ~"201510160420";
@medium_screen: ~"only screen and (max-width: 1300px)";
@small_screen: ~"only screen and (max-width: 1040px)";
@tablet: ~"only screen and (max-width: 960px)";
@mobile: ~"only screen and (max-width: 720px)";
@macbook11: ~"only screen and (min-width: 720px) and (max-height: 700px)";
@iphone4-portrait: ~"only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";
@iphone5-portrait: ~"only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";
@iphone6-portrait: ~"only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";

.background-sprite(@x:0, @y:0) {
    background-image:url("@{images}/player_sprites.png?v=@{sprite_cache_ver}");
    background-size:@sprite_size;
    background-position:@x @y;
    background-repeat: no-repeat;
}

/* Mixins */
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}
.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:     @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
    -khtml-box-sizing:  @type;
    -webkit-box-sizing: @type;
    -moz-box-sizing:    @type;
    -ms-box-sizing:     @type;
    -o-box-sizing:      @type;
    box-sizing:         @type;
}

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
    -webkit-border-top-right-radius:    @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius:  @bottomleft;
    -webkit-border-top-left-radius:     @topleft;

    -moz-border-radius-topright:        @topright;
    -moz-border-radius-bottomright:     @bottomright;
    -moz-border-radius-bottomleft:      @bottomleft;
    -moz-border-radius-topleft:         @topleft;

    border-top-right-radius:            @topright;
    border-bottom-right-radius:         @bottomright;
    border-bottom-left-radius:          @bottomleft;
    border-top-left-radius:             @topleft;

    -moz-background-clip:    padding; 
    -webkit-background-clip: padding-box; 
    background-clip:         padding-box; 
}

.user-select (@select) {
    -webkit-user-select: @select;
    -khtml-user-select: @select;
    -moz-user-select: @select;
    -ms-user-select: @select;
    user-select: @select;
}

.opacity (@opacity: 0.5) {
    -webkit-opacity:    @opacity;
    -moz-opacity:       @opacity;
    opacity:        @opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(left, @startColor, @endColor);
    background-image: -moz-linear-gradient(left, @startColor, @endColor);
    background-image: -ms-linear-gradient(left, @startColor, @endColor);
    background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation:    @name @duration @delay @ease;
    -ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
    transition:         @transition;
}
.transition-delay (@string) {
    -webkit-transition-delay: @string;  
    -moz-transition-delay:    @string;
    -ms-transition-delay:     @string; 
    -o-transition-delay:      @string;  
    transition-delay:         @string;
}
.transform(@string){
    -webkit-transform: @string;
    -moz-transform:      @string;
    -ms-transform:       @string;
    -o-transform:        @string;
    transform:           @string;
}
.transform-style(@string){
    -webkit-transform-style: @string;
    -moz-transform-style:      @string;
    -ms-transform-style:       @string;
    -o-transform-style:        @string;
    transform-style:              @string;
}
.transform-origin(@string){
    -webkit-transform-origin: @string;
    -moz-transform-origin:      @string;
    -ms-transform-origin:       @string;
    -o-transform-origin:        @string;
    transform-origin:           @string;
}
.scale (@factor) {
    -webkit-transform: scale(@factor);
    -moz-transform:      scale(@factor);
    -ms-transform:       scale(@factor);
    -o-transform:        scale(@factor);
    transform:           scale(@factor);
}
.rotate (@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform:      rotate(@deg);
    -ms-transform:       rotate(@deg);
    -o-transform:        rotate(@deg);
    transform:        rotate(@deg);
}
.skew (@deg, @deg2) {
    -webkit-transform:       skew(@deg, @deg2);
    -moz-transform:      skew(@deg, @deg2);
    -ms-transform:       skew(@deg, @deg2);
    -o-transform:        skew(@deg, @deg2);
}
.translate (@x, @y:0) {
    -webkit-transform:       translate(@x, @y);
    -moz-transform:      translate(@x, @y);
    -ms-transform:       translate(@x, @y);
    -o-transform:        translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
    -webkit-transform:       translate3d(@x, @y, @z);
    -moz-transform:      translate3d(@x, @y, @z);
    -ms-transform:       translate3d(@x, @y, @z);
    -o-transform:        translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
    -webkit-perspective:    @value;
    -moz-perspective:   @value;
    -ms-perspective:    @value;
    perspective:        @value;
}
.transform-origin (@x:center, @y:center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin:    @x @y;
    -ms-transform-origin:     @x @y;
    -o-transform-origin:      @x @y;
}
.background-size (@size) {
    -webkit-background-size: @size;
    -moz-background-size: @size;
    -o-background-size: @size;
    background-size: @size;
}
/* Mixins end */


input, textarea, keygen, select, button {
    font-family: "Roboto", sans-serif, Dotum, arial;
    font-weight:300;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:300;
}
html, body {
    font-family: "Roboto", sans-serif, Dotum, arial;
    font-weight:300;
    height:100%;
    overflow-y:hidden;
    -ms-overflow-style:none;
    position:relative;
    background: #ffffff;
}

body {
    height: 100%;
    overflow: hidden;
    @media @small_screen {
        &.desktop-view {
            width:1040px;
            position:relative;
            overflow-y:hidden;
            overflow-x:scroll;
        }
    }
}
.scroll, .scroll-y, .scroll-x {
    -webkit-overflow-scrolling: touch;
}
.scroll > *, .scroll-y > *, .scroll-x > * {
    /*-webkit-transform : translateZ(0);*/
}
.scroll { overflow: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x { overflow-x: auto; }

.notransition {
    -webkit-transition: none !important;
    -moz-transition:    none !important;
    -ms-transition:     none !important;
    -o-transition:      none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.btn {
    display:inline-block;
    min-width:80px;
    padding:8px;
    font-weight:400;
    font-size:12px;
    text-align:center;
    cursor:pointer;
    .border-radius(3px);

    color:white;
    text-decoration:none;
    background:#4b0078;
    &.btn-mini {
        padding-top:4px;
        padding-bottom:4px;
        padding-right:6px;
        padding-left:6px;
        font-size:11px;
    }
    &:hover {
        text-decoration:none;
        background:#6a189b;
    }
    &:active {
        background:#340252;
    }
    .wheel {
        display:none;
        width: 16px;
        height:11px;
        margin-left:2px;
        vertical-align: middle;
    }
    &[disabled] {
        background:#ad75cf;
        color:#bbb;
        cursor:default;
        &:hover {
            background:#ad75cf;
            color:#bbb;
        }
    }
    &.progress {
        .wheel {
            display:inline-block;
        }
    }
    &.btn-gray {
        color:#7b7b7b;
        background:white;
        border:1px solid #ccc;
        &:hover {
            border:1px solid #aaa;
        }
        &:active {
            background:#ddd;
        }
        &[disabled] {
            background:#ddd;
            color:#7b7b7b;
            cursor:default;
            border:1px solid #ccc;
            &:hover {
                background:#ddd;
                border:1px solid #ccc;
            }
        }
    }
    &.btn-pink {
        color:@color_very_light_gray;
        background:@color_pink;
        border:1px solid transparent;
        &:hover {
            border:1px solid transparent;
            background:#f254ba
        }
        &:active {
            background:#d8299a;
        }
        &[disabled] {
            background:#f7a8db;
            color:#7b7b7b;
            cursor:default;
            border:1px solid #d8299a;
            &:hover {
                background:#f7a8db;
                border:1px solid #d8299a;
            }
        }
    }
    &.btn-holo {
        color:white;
        background:transparent;
        border:1px solid #ffffff;
        &:hover {
            border:1px solid #ccc;
            color:#ccc;
        }
        &:active {
            border:1px solid #aaa;
            color:#aaa;
        }
        &[disabled] {
            color:#505050;
            cursor:default;
            border:1px solid #505050;
            &:hover {
                border:1px solid #505050;
            }
        }
    }
    &.btn-purple-holo {
        color:@color_purple;
        background:transparent;
        border:1px solid @color_purple;
        &:hover {
            border:1px solid @color_light_purple;
            color:@color_light_purple;
        }
        &:active {
            border:1px solid @color_dark_purple;
            color:@color_dark_purple;
        }
        &[disabled] {
            color:#505050;
            cursor:default;
            border:1px solid #505050;
            &:hover {
                border:1px solid #505050;
            }
        }
    }
}

#dropbeat {
    -ms-overflow-style:auto;
}

/* Disable chrome auto fil */
input:-webkit-autofill { 
    -webkit-box-shadow:0 0 0 500px white inset; 
    border:1px solid #ccc;
}
textarea, input, *:focus { outline: none !important; }

textarea,
input {
    .box-sizing(border-box);
    .user-select(text) !important;
    &::-webkit-input-placeholder { /* WebKit browsers */
        color:@color_gray;
        font-weight:300;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:@color_gray;
        font-weight:300;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:@color_gray;
        font-weight:300;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:@color_gray;
        font-weight:300;
    }
}

#external-player {
    position:absolute;
    bottom:0;
    left:0;
    width:  107px;
    height:60px;
    z-index:200;
    iframe {
        width: 107px;
        height:60px;
    }
    .close-init-box-btn {
        display:none;
    }
    .init-box {
        display:none;
        position:absolute;
        top:50px;
        width: 100%;
        z-index:10;
        .title {
            font-size:28px;
            text-align:center;
            color:white;
            font-weight:400;
        }
        .desc {
            font-size:14px;
            color:white;
            font-weight:300;
            text-align:center;
            width:80%;
            margin:30px auto 0;
        }
    }
    &.hide-video{
        left: -499px;
    }
    &.exposed {
        right:0;
        top: 0;
        bottom:auto;
        left:140px;
        height:140px;
        z-index:auto;
        position:absolute;
        width:auto;
        overflow:hidden;
        iframe {
            position:absolute !important;
            width:auto;
            height:auto;
            left:0;
            right:0;
            top:0;
            bottom:0;
        }
    }
}

.user-selectable {
    .user-select(text) !important;
}

.ui-mprogress .bar-bg, .ui-mprogress .buffer-bg, .ui-mprogress .deter-bar, .ui-mprogress .indeter-bar, .ui-mprogress .mp-ui-dashed, .ui-mprogress .query-bar {
    background:#C896E4;
}

.ui-mprogress .bar-bg, .ui-mprogress .buffer-bg {
    background:#F5BEF5;
}

#dropbeat {
    width:100%;
    height:140px;
    overflow:hidden;
    position:relative;
    -webkit-touch-callout: none;
    /*.user-select(none);*/
    background:@color_bg;
    height:140px;
    .view-holder {
        height:100%;
        position:relative;
    }
}

#page-loading {
    #loading-progress {
        height:3px;

    }
    .logo {
        .background-sprite();
        width:60px;
        height:60px;
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-30px;
        margin-top:-30px;
    }
}

#page-failure {
    padding-top:26px;
    .page-title {
        color:@color_gray;
        font-weight:400;
        font-size:16px;
        text-align:center;
    }
    .page-desc {
        margin-top:15px;
        color:@color_gray;
        font-size:12px;
        text-align:center;
    }
    .footer .logo {
        display:inline-block;
        cursor:pointer;
        width:137px;
        height:14px;
        position:absolute;
        bottom:15px;
        margin-left:-63.5px;
        left:50%;
        text-indent:-9999px;
        .background-sprite(-60px, 0);
    }
}

#page-player {
    .share-bubble {
        position:absolute;
        display:none;
    }
    .playable-track {
        height:140px;
        .artwork-wrapper {
            height:140px;
            width:140px;
            overflow:hidden;
            float:left;
            a {
                display:inline-block;
                cursor:pointer;
                span {
                    display:inline-block;
                    height:140px;
                    width:140px;
                    background-size:140px 140px;
                    &.yt {
                        width:249px;
                        margin-left:-54px; 
                        background-size:249px 140px;
                    }
                }
            }
        }

        .play-contents {
            height:140px;
            overflow:hidden;
            background-size:cover;
            background-position:center;
            position:relative;
            padding-left:10px;
            &.transparent-bg {
                background:none !important;
            }
            .bg-filter {
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                background:#000;
                .opacity(0.8);
            }
            .contents-header {
                position:relative;
                margin-top:5px;
                height: 48px;
                overflow: hidden;
                .track-info {
                    height:43px;
                    overflow:hidden;
                    display:table-cell;
                    vertical-align:middle;
                    padding-top:5px;
                    .single-line {
                        white-space:nowrap;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        position: absolute;
                        right: 0;
                        left: 56px;
                        &.track-title-wrapper {
                            top:6px;
                        }
                        &.artist-wrapper {
                            top:25px;
                        }
                    }
                    .track-title,
                    .track-title-wrapper {
                        color:white;
                    }
                    .track-title {
                        text-decoration:none;
                        font-weight:400;
                        font-size:14px;
                        line-height:20px;
                    }
                    .artist,
                    .artist-wrapper {
                        color:@color_pink;
                    }
                    .artist {
                        margin-top:5px;
                        text-decoration:none;
                        font-size:13px;
                        line-height:20px;
                    }
                    .date {
                        display:none;
                    }
                }
                .ctrl-play {
                    cursor:pointer;
                    display:inline-block;
                    float:left;
                    margin-right:8px;
                    width:48px;
                    height:48px;
                    position:relative;
                    .background-sprite(0, -60px);
                    .ic-play {
                        text-indent:-9999px;
                        display:none;
                    }
                    &:hover {
                        .background-sprite(0, -108px);
                    }
                    &:active {
                        .background-sprite(0, -156px);
                    }
                    &.pause {
                        .background-sprite(-48px, -60px);
                        &:hover {
                            .background-sprite(-48px, -108px);
                        }
                        &:active {
                            .background-sprite(-48px, -156px);
                        }
                    }
                }
            }
            .contents-body {
                position:absolute;
                top:58px;
                bottom:0;
                left:0;
                right:0;
                .progress-wrapper {
                    position:absolute;
                    left:15px;
                    right:15px;
                    top:60%;
                }
                .progress-time {
                    font-size:12px;
                    line-height:15px;
                    color:@color_gray;
                    text-align:right;
                    .playback-time {
                        position:absolute;
                        top:50%;
                        left:0;
                        margin-top:-7.5px;
                    }
                    .duration-time {
                        position:absolute;
                        top:50%;
                        right:0;
                        margin-top:-7.5px;
                    }
                }
                .progress {
                    position:absolute;
                    top:50%;
                    left:40px;
                    right:40px;
                    .progress-bar {
                        padding-top:8px;
                        padding-bottom:8px;
                        margin-top:-8px;
                        margin-bottom:-8px;
                        cursor:pointer;
                        .drop {
                            position:absolute;
                            left:0;
                            top:-7px;
                            height:16px;
                            overflow:hidden;
                            .drop-inner {
                                position: absolute;
                                right: 0;
                                height:16px;
                                width:400px;
                                background-image:url("@{images}/sprites.png");
                                background-position:0 -60px;
                            }
                        }
                        .progress-bar-inner{
                            background:#585858;
                            height:2px;
                            position: relative;
                        }
                        .buffer {
                            background:#707070;
                            height:2px;
                            position:absolute;
                            left:0;
                            top:0;
                        }
                        .bullet {
                            background:white;
                            height:2px;
                            position:absolute;
                            left:0;
                            top:0;
                        }
                    }
                    .progress-handle {
                        position:absolute;
                        top:-7px;
                        left:0px;
                        height:16px;
                        margin-left:-7px;
                        padding-left:6px;
                        padding-right:6px;
                        cursor:pointer;
                        .progress-handle-inner {
                            width:2px;
                            height:16px;
                            background:white;
                        }
                    }
                    .playback-time,
                    .duration-time {
                        margin-top:13px;
                        color:white;
                        font-size:12px;
                    }
                }
                .waveform-progress {
                    position: absolute;
                    left: 10px;
                    right: 10px;
                    bottom: 10px;
                    height: 60px;
                    background-size: 600px 150px;
                    cursor:default;
                    .waveform-bg-progress {
                        height:50px;
                        canvas {
                            height:50px;
                        }
                    }
                    .progress {
                        top:0;
                        bottom:0;
                        left:0;
                        right:0;
                        position:absolute;
                    }
                    .drop {
                        position:absolute;
                        top:0;
                        bottom:0;
                        left:0;
                        right:0;
                    }
                    .duration-time,
                    .playback-time {
                        color:@color_very_light_gray;
                        font-size:11px;
                        position:absolute;
                        background:@color_deep_black;
                        padding:1px 3px;
                    }
                    .playback-time {
                        bottom:5px;
                        left:10px;
                    }
                    .duration-time {
                        bottom:5px;
                        right:10px;
                    }
                }
            }
            .header-menu {
                margin-right: 10px;
                margin-left: 15px;
                margin-top: 10px;
                text-align: right;
                float: right;
                position: relative;
                .logo-wrapper {
                    margin-bottom:10px;
                    .logo {
                        display:inline-block;
                        cursor:pointer;
                        width:89px;
                        height:11px;
                        text-indent:9999px;
                        .background-sprite(-60px, -14px);
                        &:active,
                        &:hover {
                            .background-sprite(-60px, -25px);
                        }
                    }
                }
                .btn-share {
                    min-width:50px;
                    padding:6px 7px;
                    font-size:11px;
                    color:white;
                    background:#3d3e41;
                    border:none;
                    &:hover {
                        background:#4c4e53;
                        border:none;
                    }
                    &.selected,
                    &:active {
                        background:#2d2e32;
                        border:none;
                    }
                    &.selected {
                        i {
                            color:@color_light_purple;
                        }
                    }
                }
            }
        }
        &.loading {
            .play-contents .ctrl-play {
                .background-sprite(-96px, -60px);
                &:hover,
                &.pause,
                &.pause:hover {
                    .background-sprite(-96px, -60px);
                }
                .ic-play {
                    width:16px;
                    height:12px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -6px;
                    margin-left: -8px;
                    background-image:url("@{images}/ajax_loader.gif");
                    background-size:contain;
                    background-position:center;
                }
            }
        }
    }
    .overlay-filter {
        display:none;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:#000;
        .opacity(0.6);
    }
    .share-bubble {
        position:absolute;
        top:15px;
        right:86px;
        width:260px;
        background:@color_super_light_black;
        padding:8px;
        .border-radius(3px);
        .url-wrapper {
            .input-url {
                width:100%;
                padding:7px;
                background:@color_dark_gray;
                color:white;
                font-size:16px;
                border:none;
                .border-radius(3px);
            }
        }
        .share-btns {
            margin-top:10px;
            text-decoration:none;
            vertical-align:middle;
            margin-right:5px;
            a {
                text-decoration:none;
                width: 34px;
                height:34px;
                display:inline-block;
                text-indent:-9999px;
                cursor:pointer;
                &.btn-fb-share {
                    .background-sprite(-144px, -60px);
                }
                &.btn-twit-share {
                    .background-sprite(-144px, -94px);
                }
                &.btn-tmbr-share {
                    .background-sprite(-144px, -128px);
                }
                &.btn-email-share {
                    .background-sprite(-144px, -162px);
                }
            }
        }
        .arrow {
            width:14px;
            height:17px;
            .background-sprite(-60px, -36px);
            position:absolute;
            right:-9px;
            top:20px;
        }
    }
}
