@color_bg: #ccc;
@color_perfect_black: #000000;
@color_deep_black: #121314;
@color_light_black: #1c1c1f;
@color_very_light_black: #222326;
@color_super_light_black: #2e2f33;
@color_popup_border_black: #27282b;
@color_border_black: #1b1c1f;
@color_dark_purple: #5C0B84;
@color_pink: #f03eb1;
@color_purple: #a003ec;
@color_light_purple: #cd85ff;
@color_pink: #f03eb1;
@color_dark_gray: #3e3e40;
@color_gray: #88898c;
@color_light_gray: #adaeb3;
@color_very_light_gray: #dcdde3;
@color_white: #ffffff;
@bg_images: "../bg_images";
@images: "../images";
@sprite_size: 600px 500px;
@sprite_cache_ver: ~"201510160420";
@medium_screen: ~"only screen and (max-width: 1300px)";
@small_screen: ~"only screen and (max-width: 1040px)";
@tablet: ~"only screen and (max-width: 960px)";
@mobile: ~"only screen and (max-width: 720px)";
@macbook11: ~"only screen and (min-width: 720px) and (max-height: 700px)";
@iphone4-portrait: ~"only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";
@iphone5-portrait: ~"only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";
@iphone6-portrait: ~"only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";

.background-sprite(@x:0, @y:0) {
    background-image:url("@{images}/admin_sprites.png?v=@{sprite_cache_ver}");
    background-size:@sprite_size;
    background-position:@x @y;
    background-repeat: no-repeat;
}

/* Mixins */
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}
.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:     @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
    -khtml-box-sizing:  @type;
    -webkit-box-sizing: @type;
    -moz-box-sizing:    @type;
    -ms-box-sizing:     @type;
    -o-box-sizing:      @type;
    box-sizing:         @type;
}

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
    -webkit-border-top-right-radius:    @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius:  @bottomleft;
    -webkit-border-top-left-radius:     @topleft;

    -moz-border-radius-topright:        @topright;
    -moz-border-radius-bottomright:     @bottomright;
    -moz-border-radius-bottomleft:      @bottomleft;
    -moz-border-radius-topleft:         @topleft;

    border-top-right-radius:            @topright;
    border-bottom-right-radius:         @bottomright;
    border-bottom-left-radius:          @bottomleft;
    border-top-left-radius:             @topleft;

    -moz-background-clip:    padding; 
    -webkit-background-clip: padding-box; 
    background-clip:         padding-box; 
}

.user-select (@select) {
    -webkit-user-select: @select;
    -khtml-user-select: @select;
    -moz-user-select: @select;
    -ms-user-select: @select;
    user-select: @select;
}

.opacity (@opacity: 0.5) {
    -webkit-opacity:    @opacity;
    -moz-opacity:       @opacity;
    opacity:        @opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(left, @startColor, @endColor);
    background-image: -moz-linear-gradient(left, @startColor, @endColor);
    background-image: -ms-linear-gradient(left, @startColor, @endColor);
    background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation:    @name @duration @delay @ease;
    -ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
    transition:         @transition;
}
.transition-delay (@string) {
    -webkit-transition-delay: @string;  
    -moz-transition-delay:    @string;
    -ms-transition-delay:     @string; 
    -o-transition-delay:      @string;  
    transition-delay:         @string;
}
.transform(@string){
    -webkit-transform: @string;
    -moz-transform:      @string;
    -ms-transform:       @string;
    -o-transform:        @string;
    transform:           @string;
}
.transform-style(@string){
    -webkit-transform-style: @string;
    -moz-transform-style:      @string;
    -ms-transform-style:       @string;
    -o-transform-style:        @string;
    transform-style:              @string;
}
.transform-origin(@string){
    -webkit-transform-origin: @string;
    -moz-transform-origin:      @string;
    -ms-transform-origin:       @string;
    -o-transform-origin:        @string;
    transform-origin:           @string;
}
.scale (@factor) {
    -webkit-transform: scale(@factor);
    -moz-transform:      scale(@factor);
    -ms-transform:       scale(@factor);
    -o-transform:        scale(@factor);
    transform:           scale(@factor);
}
.rotate (@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform:      rotate(@deg);
    -ms-transform:       rotate(@deg);
    -o-transform:        rotate(@deg);
    transform:        rotate(@deg);
}
.skew (@deg, @deg2) {
    -webkit-transform:       skew(@deg, @deg2);
    -moz-transform:      skew(@deg, @deg2);
    -ms-transform:       skew(@deg, @deg2);
    -o-transform:        skew(@deg, @deg2);
}
.translate (@x, @y:0) {
    -webkit-transform:       translate(@x, @y);
    -moz-transform:      translate(@x, @y);
    -ms-transform:       translate(@x, @y);
    -o-transform:        translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
    -webkit-transform:       translate3d(@x, @y, @z);
    -moz-transform:      translate3d(@x, @y, @z);
    -ms-transform:       translate3d(@x, @y, @z);
    -o-transform:        translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
    -webkit-perspective:    @value;
    -moz-perspective:   @value;
    -ms-perspective:    @value;
    perspective:        @value;
}
.transform-origin (@x:center, @y:center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin:    @x @y;
    -ms-transform-origin:     @x @y;
    -o-transform-origin:      @x @y;
}
.background-size (@size) {
    -webkit-background-size: @size;
    -moz-background-size: @size;
    -o-background-size: @size;
    background-size: @size;
}
/* Mixins end */


input, textarea, keygen, select, button {
    font-family: "Roboto", sans-serif, Dotum, arial;
    font-weight:400;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:400;
}
html, body {
    font-family: "Roboto", sans-serif, Dotum, arial;
    font-weight:400;
    height:100%;
    overflow-y:hidden;
    -ms-overflow-style:none;
    position:relative;
    background: @color_bg;
}

body {
    height: 100%;
    overflow: hidden;
    @media @small_screen {
        &.desktop-view {
            width:1040px;
            position:relative;
            overflow-y:hidden;
            overflow-x:scroll;
        }
    }
}
.scroll, .scroll-y, .scroll-x {
    -webkit-overflow-scrolling: touch;
}
.scroll > *, .scroll-y > *, .scroll-x > * {
    /*-webkit-transform : translateZ(0);*/
}
.scroll { overflow: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x { overflow-x: auto; }

.notransition {
    -webkit-transition: none !important;
    -moz-transition:    none !important;
    -ms-transition:     none !important;
    -o-transition:      none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.btn {
    display:inline-block;
    min-width:80px;
    padding:8px;
    font-weight:400;
    font-size:12px;
    text-align:center;
    cursor:pointer;
    .border-radius(3px);

    color:white;
    text-decoration:none;
    background:#4b0078;
    &.btn-mini {
        padding-top:4px;
        padding-bottom:4px;
        padding-right:6px;
        padding-left:6px;
        font-size:11px;
    }
    &:hover {
        text-decoration:none;
        background:#6a189b;
    }
    &:active {
        background:#340252;
    }
    .wheel {
        display:none;
        width: 16px;
        height:11px;
        margin-left:2px;
        vertical-align: middle;
    }
    &[disabled] {
        background:#ad75cf;
        color:#bbb;
        cursor:default;
        &:hover {
            background:#ad75cf;
            color:#bbb;
        }
    }
    &.progress {
        .wheel {
            display:inline-block;
        }
    }
    &.btn-gray {
        color:#7b7b7b;
        background:white;
        border:1px solid #ccc;
        &:hover {
            border:1px solid #aaa;
        }
        &:active {
            background:#ddd;
        }
        &[disabled] {
            background:#ddd;
            color:#7b7b7b;
            cursor:default;
            border:1px solid #ccc;
            &:hover {
                background:#ddd;
                border:1px solid #ccc;
            }
        }
    }
    &.btn-pink {
        color:@color_very_light_gray;
        background:@color_pink;
        border:1px solid transparent;
        &:hover {
            border:1px solid transparent;
            background:#f254ba
        }
        &:active {
            background:#d8299a;
        }
        &[disabled] {
            background:#f7a8db;
            color:#7b7b7b;
            cursor:default;
            border:1px solid #d8299a;
            &:hover {
                background:#f7a8db;
                border:1px solid #d8299a;
            }
        }
    }
    &.btn-holo {
        color:white;
        background:transparent;
        border:1px solid #ffffff;
        &:hover {
            border:1px solid #ccc;
            color:#ccc;
        }
        &:active {
            border:1px solid #aaa;
            color:#aaa;
        }
        &[disabled] {
            color:#505050;
            cursor:default;
            border:1px solid #505050;
            &:hover {
                border:1px solid #505050;
            }
        }
    }
    &.btn-purple-holo {
        color:@color_purple;
        background:transparent;
        border:1px solid @color_purple;
        &:hover {
            border:1px solid @color_light_purple;
            color:@color_light_purple;
        }
        &:active {
            border:1px solid @color_dark_purple;
            color:@color_dark_purple;
        }
        &[disabled] {
            color:#505050;
            cursor:default;
            border:1px solid #505050;
            &:hover {
                border:1px solid #505050;
            }
        }
    }
}

.dropbeat-tooltip-theme {
    .border-radius(4px);
    border: none;
    background: #4c4c4c;
    color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.dropbeat-tooltip-theme .tooltipster-content {
    font-family: "Roboto", sans-serif, Dotum, arial;
    font-size: 12px;
    line-height: 14px;
    padding: 6px 10px;
}

/* modal override */

.modal {
    z-index:1300;
}

.modal-content {
    .border-radius(3px);
}
.modal-dialog {
    .modal-header {
        padding:18px 0;
        margin:0 18px;
        border-bottom: 1px solid #ccc;
        position: relative;
        .modal-title {
            text-align:center;
            font-size:14px;
            line-height:16px;
            font-weight:400;
            color:#4b0078;
            padding-right: 20px;
        }
        .btn-close {
            position:absolute;
            right:0;
            top:50%;
            margin-top:-10px;
            width:20px;
            height:20px;
            .ic-close {
                width:12px;
                height:12px;
                display:inline-block;
                background-image:url("@{images}/sprites.png");
                background-position:-249px 0;
                cursor:pointer;
                &:hover {
                    background-position:-249px -12px;
                }
            }
        }
    }
    .modal-body {
        text-align:center;
        padding:10px 23px;
        font-size:14px;
        color:#494949;
        .error-prompt {
            display:none;
            font-size: 14px;
            padding: 5px;
            margin-bottom: 5px;
            color: red;
        }
    }
    .modal-footer {
        text-align:center;
        border-top:none;
        padding:5px 23px 23px;
        @media @iphone6-portrait {
            .btn {
                padding:8px 6px;
                font-size:11px;
            }
        }
        @media @iphone5-portrait {
            .btn {
                padding:8px 6px;
                font-size:11px;
            }
        }
        @media @iphone4-portrait {
            .btn {
                padding:8px 6px;
                font-size:11px;
            }
        }
    }
}

.modal-backdrop {
    position:fixed;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 100px auto;
  }
}

#modal-new-label {
    .input-wrapper {
        margin-bottom:5px;
        .input-name {
            padding:5px;
            font-size:14px;
            font-weight:400;
            width:220px;
        }
        .input-label {
            margin-right:10px;
            font-size:14px;
            width:80px;
            display:inline-block;
        }
    }
}

#modal-track-filter {
    .modal-dialog {
        z-index:2000;
        position:realtive;
    }
    .track-filter {
        margin-bottom:10px;
        padding:5px;
        text-align:left;
        .filter-label {
            font-size:14px;
            margin-bottom:10px;
        }
        .filter-contents {
            position:relative;
            input {
                padding:5px;
                font-size:12px;
                line-height:18px;
                .border-radius(4px); 
                border:1px solid @color_light_gray;
            }
        }
    }
    .track-filter-by-date {
        input {
            width:90px;
            display:inline-block;
        }
    }
    .track-filter-by-genre {
    }
}

/* modal override end */

.option-select-box { 
    .option-select {
        vertical-align:middle;
        position:relative;
        .selected-option {
            cursor:pointer;
            .border-radius(4px);
            display:inline-block;
            background:#bbbbbb;
            .text {
                width:150px;
                padding: 7px 10px;
                min-width:100px;
                color: @color_super_light_black;
                display: inline-block;
                font-size:12px;
                line-height: 14px;
                vertical-align: top;
            }
            i {
                color: @color_light_purple;
                width: 25px;
                font-size: 16px;
                display: inline-block;
                line-height: 19px;
                padding-top: 5px;
                vertical-align: top;
            }
            &:hover {
                background:@color_very_light_gray;
                i {
                    color:@color_purple;
                }
            }
        }
    }
    .dropdown {
        display:none;
        position:absolute;
        z-index: 1010;
        left:0;
        width:195px;
        background:@color_very_light_gray;
        max-height:400px;
        overflow-y:auto;
        overflow-x:hidden;
        scrollbar-face-color: #aaa;
        scrollbar-highlight-color: #aaa;
        scrollbar-shadow-color: #aaa;
        scrollbar-3dlight-color: #aaa;
        scrollbar-arrow-color: #aaa;
        scrollbar-track-color: #ccc;
        scrollbar-darkshadow-color: #aaa;
        &::-webkit-scrollbar{
            width:6px;
            background-color:transparent;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #aaa;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover{
            background-color: #aaa;
        }
        &::-webkit-scrollbar-thumb:active{
            background-color: #ddd;
        }
        .option {
            color:@color_gray;
            padding:6px 10px;
            font-size:12px;
            cursor:pointer;
            &:hover {
                color:@color_dark_gray;
                background:white;
            }
            &.selected {
                cursor:default;
                color:@color_super_light_black;
            }
        }
    }
}

#dropbeat {
    -ms-overflow-style:auto;
}

/* Disable chrome auto fil */
input:-webkit-autofill { 
    -webkit-box-shadow:0 0 0 500px white inset; 
    border:1px solid #ccc;
}
textarea, input, *:focus { outline: none !important; }

textarea,
input {
    .box-sizing(border-box);
    .user-select(text) !important;
    &::-webkit-input-placeholder { /* WebKit browsers */
        color:@color_gray;
        font-weight:400;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:@color_gray;
        font-weight:400;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:@color_gray;
        font-weight:400;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:@color_gray;
        font-weight:400;
    }
}

.page-frame {
    width:1024px;
    margin-left:auto;
    margin-right:auto;
}

.overlay-filter {
    z-index:1000;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

#external-player {
    position:absolute;
    bottom:0;
    left:0;
    width:  107px;
    height:60px;
    z-index:200;
    iframe {
        width: 107px;
        height:60px;
    }
    .close-init-box-btn {
        display:none;
    }
    .init-box {
        display:none;
        position:absolute;
        top:50px;
        width: 100%;
        z-index:10;
        .title {
            font-size:28px;
            text-align:center;
            color:white;
            font-weight:400;
        }
        .desc {
            font-size:14px;
            color:white;
            font-weight:400;
            text-align:center;
            width:80%;
            margin:30px auto 0;
        }
    }
    &.hide-video{
        left: -499px;
    }
    &.minimized {
        bottom:0 !important;
        top: auto !important;
        left:0 !important;
        width:  107px !important;
        height:60px !important;
        z-index:200 !important;
        iframe {
            width: 107px !important;
            height:60px !important;
            margin-top: 0 !important;
            margin-left: 0 !important;
            top: auto !important;
        }
    }
    &.exposed {
        right:0 !important;
        top: 47px !important;
        bottom:61px !important;
        left:0 !important;
        z-index:900 !important;
        position:absolute;
        width:auto !important;
        height:auto !important;
        iframe {
            position:absolute !important;
            left:50% !important;
        }
        .player-bg {
            display:block;
        }
        .close-button {
            display:inline-block;
        }
    }
    &.popup{
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:10000;
        width:auto;
        height:auto;
        iframe {
            position:absolute;
            top:400px !important;
            width:180px !important;
            height:100px !important;
            margin:0 auto !important;
            left:0 !important;
            right:0 !important;
            z-index:10;
            border:2px solid white;
        }
        .init-box {
            display:block;
        }
        .close-init-box-btn {
            display:block;
            position:absolute;
            top:17px;
            right:17px;
            width:20px;
            height:20px;
            background-image:url("@{images}/sprites.png");
            background-position:-158px 0;
            cursor:pointer;
            text-indent:-9999px;
            z-index:10;
            &:hover {
                background-position:-158px -20px;
            }
        }
        .player-bg {
            display:block;
            .opacity(0.9);
            background:black;
            top:0;
            left:0;
            right:0;
            bottom:0;
            z-index:2;
        }
    }
    .player-bg {
        display:none;
        position:absolute;
        right:0;
        top: 0;
        bottom:0;
        left:0;
        background:black;
    }
    .close-button {
        display:none;
        position:absolute;
        top:21px;
        right:21px;
        width:24px;
        height:24px;
        padding:15px;
        cursor:pointer;
        z-index:100;
        .ic-close {
            width:24px;
            height:24px;
            .background-sprite();
            background-position:-455px -24px;
            display:block;
            text-indent:-9999px;
        }
        &:hover {
            .ic-close {
                background-position:-455px 0px;
            }
        }
    }
}

#page-404 {
    line-height:30px;
    padding-top:80px;
    padding-bottom:80px;
    text-align:center;
    .page-title {
        color:@color_light_gray;
        font-weight:400;
        font-size:32px;
        margin-bottom:30px;
    }
    .page-desc {
        color:@color_gray;
        font-weight:400;
        font-size:20px;
        margin-bottom:50px;
    }
    .link-home {
        min-width:120px;
    }
    .btn {
        line-height:20px;
        margin-right:10px;
    }
}

#dropbeat {
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
    -webkit-touch-callout: none;
    .user-select(none);
    .header-section {
        height:47px;
        background:white;
        border-bottom:1px solid #bbb;
        position: relative;
        z-index:1200;
        .page-frame {
            padding:0 20px;
            .box-sizing(border-box);
        }
        .box-sizing(border-box);
        .logo {
            padding-top:6px;
            padding-bottom:6px;
            vertical-align:top;
            cursor:pointer;
            display:inline-block;
            margin-top:10px;
            float:left;
            .ic-logo {
                display:block;
                width:149px;
                height:14px;
                background-image:url("@{images}/logo_288x28_black.png");
                background-size:cover;
            }
        }
        .nav-menus {
            float:right;
            margin-top:6px;
            .nav-menu-wrapper {
                float:left;
            }
            .nav-menu {
                margin-left:10px;
                min-width:70px;
                text-align:center;
                font-size:14px;
                color:@color_gray;
                display:inline-block;
                padding:10px 5px 8px;
                line-height:20px;
                border-bottom:2px solid transparnet;
                cursor:pointer;
                &:hover {
                    color:@color_very_light_black;
                }
                &.selected {
                    cursor:default;
                    color:@color_very_light_black;
                    border-bottom:2px solid @color_purple;
                }
            }
        }
        .admin-title {
            font-size:18px;
            text-align:center;
            font-weight:400;
            position:absolute;
            left:50%;
            top:50%;
            line-height:30px;
            margin-top:-15px;
            width:400px;
            margin-left:-200px;
            color:@color_very_light_black;
        }
    }
    .contents {
        height:100%;
        margin-top:-47px;
        margin-bottom:0;
        .contents-inner {
            padding-top:47px;
            padding-bottom:0;
            height:100%;
            .box-sizing(border-box);
            .scroll-y {
                overflow-x:hidden;
                overflow-y:scroll;
                scrollbar-face-color: #ddd;
                scrollbar-highlight-color: #ddd;
                scrollbar-shadow-color: #ddd;
                scrollbar-3dlight-color: #ddd;
                scrollbar-arrow-color: #ddd;
                scrollbar-track-color: #fff;
                scrollbar-darkshadow-color: #ddd;
                height:100%;
                position:relative;
                &::-webkit-scrollbar{
                    width:17px;
                    background-color:transparent;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: #ddd;
                    border-radius: 4px;
                }
                &::-webkit-scrollbar-thumb:hover{
                    background-color: #ddd;
                }
                &::-webkit-scrollbar-thumb:active{
                    background-color: #ccc;
                }
            }
        }
        .page-frame {
            position:relative;
        }
        .body-section {
            min-height:100%;
            margin-bottom:-54px;
            .body-section-inner {
                padding-bottom:54px;
            }
        }
        .footer-section {
            text-align:right;
            .page-frame {
                padding-top:10px;
            }
            .copyright {
                padding-top:20px;
                font-size:13px;
                color:@color_light_gray;
            }
        }
    }
}

#page-inbox {
    height: 100%;
    .tracks {
        .track {
            padding:7px;
            background:#eee;
            margin-bottom:1px;
            line-height:20px;
            .track-header {
                .cell {
                    .inner-cell {
                        height:45px;
                        display:table-cell;
                        vertical-align:middle;
                    }
                }
            }
            .track-body {
                height:0;
                overflow:hidden;
                padding-left:30px;
                .transition(0.3s);
                .description {
                    line-height:1.6;
                    font-size:12px;
                    color:#585858;
                    height:50px;
                    padding-top:5px;
                    padding-bottom:5px;
                    overflow:hidden;
                    font-weight:300;
                    a {
                        color:@color_light_purple;
                    }
                }
                .ctrl-play {
                    float:left;
                    width:44px;
                    height:44px;
                    margin-top:13px;
                    text-indent:-9999px;
                    .background-sprite(-200px, -185px);
                    display:inline-block;
                    &:hover {
                        .background-sprite(-200px, -229px);
                    }
                    &.pause {
                        .background-sprite(-200px, -273px);
                        &:hover {
                            .background-sprite(-200px, -317px);
                        }
                    }
                }
                .progress-frame {
                    position:relative;
                    margin-left:55px;
                    height:60px;
                    .progress-wrapper {
                        position:absolute;
                        left:15px;
                        right:15px;
                        top:60%;
                    }
                    .progress-time {
                        font-size:12px;
                        line-height:15px;
                        color:@color_gray;
                        text-align:right;
                        .playback-time {
                            position:absolute;
                            top:50%;
                            left:0;
                            margin-top:-7.5px;
                        }
                        .duration-time {
                            position:absolute;
                            top:50%;
                            right:0;
                            margin-top:-7.5px;
                        }
                    }
                    .progress {
                        position:absolute;
                        top:50%;
                        left:40px;
                        right:40px;
                        .progress-bar {
                            padding-top:8px;
                            padding-bottom:8px;
                            margin-top:-8px;
                            margin-bottom:-8px;
                            cursor:pointer;
                            .drop {
                                position:absolute;
                                left:0;
                                top:-7px;
                                height:16px;
                                overflow:hidden;
                                .drop-inner {
                                    position: absolute;
                                    right: 0;
                                    height:16px;
                                    width:400px;
                                    background-image:url("@{images}/sprites.png");
                                    background-position:0 -60px;
                                }
                            }
                            .progress-bar-inner{
                                background:#585858;
                                height:2px;
                                position: relative;
                            }
                            .buffer {
                                background:#707070;
                                height:2px;
                                position:absolute;
                                left:0;
                                top:0;
                            }
                            .bullet {
                                background:white;
                                height:2px;
                                position:absolute;
                                left:0;
                                top:0;
                            }
                        }
                        .progress-handle {
                            position:absolute;
                            top:-7px;
                            left:0px;
                            height:16px;
                            margin-left:-7px;
                            padding-left:6px;
                            padding-right:6px;
                            cursor:pointer;
                            .progress-handle-inner {
                                width:2px;
                                height:16px;
                                background:white;
                            }
                        }
                        .playback-time,
                        .duration-time {
                            margin-top:13px;
                            color:white;
                            font-size:12px;
                        }
                    }
                    .waveform-progress {
                        position: absolute;
                        left: 5px;
                        right: 5px;
                        bottom: 0px;
                        top: 10px;
                        background-size: 600px 150px;
                        cursor:default;
                        .waveform-bg-progress {
                            height:50px;
                            canvas {
                                height:50px;
                            }
                        }
                        .progress {
                            top:0;
                            bottom:0;
                            left:0;
                            right:0;
                            position:absolute;
                        }
                        .drop {
                            position:absolute;
                            top:0;
                            bottom:0;
                            left:0;
                            right:0;
                        }
                        .duration-time,
                        .playback-time {
                            color:@color_very_light_gray;
                            font-size:10px;
                            position:absolute;
                            background:@color_gray;
                            padding:1px 3px;
                        }
                        .playback-time {
                            bottom:5px;
                            left:10px;
                        }
                        .duration-time {
                            bottom:5px;
                            right:10px;
                        }
                    }
                }
            }
            .checkbox-wrapper {
                float:left;
                width:35px;
                .checkbox {
                    display:inline-block;
                    padding-left:5px;
                    padding-right:5px;
                    .ic {
                        font-size:18px;
                        margin-right:0;
                        color:@color_light_gray;
                    }
                    .ic:before {
                        content: "\E154"
                    }
                    &:hover {
                        .ic {
                            color:@color_dark_gray;
                        }
                    }
                    &.checked {
                        .ic:before {
                            content: "\E153"; 
                        }
                    }
                }
            }
            .artist {
                float:left;
                font-size:12px;
                width:190px;
                white-space:nowrap;
                text-overflow:ellipsis;
                overflow:hidden;
                .name {
                    color:@color_pink;
                    text-decoration:none;
                    &[href] {
                        cursor:pointer;
                        &:hover {
                            text-decoration:underline;
                        }
                    }
                }
                .numbers {
                    margin-top:2px;
                    .number {
                        float:left;
                        color:@color_light_gray;
                        width:45px;
                        .ic {
                            font-size:12px;
                            margin-right:1px;
                        }
                        .count {
                            font-size:11px;
                        }
                        &:last-child {
                            margin-right:0;
                        }
                    }
                }
            }
            .genre-wrapper {
                float:left;
                .genre {
                    display:block;
                    width:140px;
                    height:45px;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                    overflow:hidden;
                    font-weight:400;
                    font-style:italic;
                    color:@color_gray;
                }
            }
            .date-wrapper {
                float:right;
                width:80px;
                .date {
                    width:80px;
                    text-align:center;
                }
            }
            .drop-wrapper {
                float:left;
                width:50px;
                .drop {
                    width:50px;
                    text-align:center;
                    .listen-drop {
                        display:inline-block;
                        width:35px;
                        height:35px;
                        .background-sprite(-288px, -185px);
                        text-indent:-9999px;
                        float:left;
                        position:relative;
                        cursor:pointer;
                        .loader {
                            position:absolute;
                            display: none;
                            top: 50%;
                            left: 50%;
                            width:16px;
                            height:11px;
                            margin-top: -5.5px;
                            margin-left:-8px;
                            background-image:url("@{images}/ajax_loader.gif");
                            background-size:cover;
                        }
                        &:hover {
                            .background-sprite(-288px, -220px);
                        }
                        &.pause {
                            .background-sprite(-288px, -290px);
                            &:hover {
                                .background-sprite(-288px, -325px);
                            }
                        }
                        &.loading {
                            .background-sprite(-288px, -255px);
                            cursor:default;
                            &:hover {
                                .background-sprite(-288px, -255px);
                            }
                            .loader {
                                display:block;
                            }
                        }
                    }
                }
            }
            .title {
                position:relative;
                overflow:hidden;
                .track-name {
                    cursor:pointer;
                }
                .labels {
                    margin-bottom:2px;
                    .label {
                        line-height:14px;
                        cursor:pointer; 
                        display:inline-block;
                        padding:2px;
                        .border-radius(3px);
                        font-size:11px;
                        font-weight:300;
                    }
                }
            }
            &.unread {
                background:white;
                font-weight:700;
            }
            &.selected {
                background:#EDDAF9;
                .checkbox-wrapper {
                    .checkbox {
                        .ic {
                            color:@color_dark_gray;
                        }
                    }
                }
            }
            &.opened {
                .track-body {
                    height:120px;
                }
            }
        }
    }
    .overlay-frame {
        position:relative;
        padding-right: 17px;
        .left-menus {
            z-index:500;
            position:absolute;
            left:0;
            top:20px;
        }
        .right-contents {
            z-index:1200;
            position:absolute;
            left:210px;
            top:0;
            padding-top:20px;
            width:816px;
            background:@color_bg;
            padding-bottom:4px;
        }
    }
    .body-section .page-frame{
        padding-top:60px;
        padding-left:210px;
        .box-sizing(border-box);
    }
    .right-contents {
        .search-box {
            float:right;
            position:relative;
            width:200px;
            .ic {
                position:absolute;
                left:9px;
                top:10px;
                font-size:14px;
                line-height:16px;
                color:@color_light_gray;
            }
            input {
                width:200px;
                border:none;
                font-size:12px;
                color:@color_very_light_black;
                padding:5px 10px 5px 30px;
                margin-top:2px;
                line-height:20px;
                .border-radius(4px);
            }
        }
        .track-menus {
            float:left;
            background:white;
            .track-menu-wrapper {
                margin-right:5px;
                color:@color_very_light_black;
                float:left;
                &:hover {
                    background:#eee;
                }
            }
            .track-menu-dropdown-wrapper {
                cursor:pointer;
                padding-right:14px;
                position:relative;
                .track-menu {
                    padding:4px 2px 4px 16px;
                }
                .carrot {
                    .background-sprite(-66px, -311px);
                    width:8px;
                    height:4px;
                    display:inline-block;
                    text-indent:-9999px;
                    margin-top:14px;
                    vertical-align:top;
                }
                .dropdown {
                    z-index:1050;
                    display:none;
                    position:absolute;
                    width:200px;
                    background:white;
                    border:1px solid @color_very_light_gray;
                    .action {
                        display:block;
                        padding:8px 10px;
                        font-size:12px;
                        color:@color_very_light_black;
                        cursor:pointer;
                        &:hover {
                            background:@color_very_light_gray;
                        }
                        &.selected {
                            color:@color_light_purple;
                        }
                    }
                    .action-mark-as-custom-label {
                        .text {
                            position:relative;
                            overflow:hidden;
                            width:150px;
                            white-space:nowrap;
                            text-overflow:ellipsis;
                        }
                        .color {
                            float:right;
                            width:18px;
                            height:18px;
                            margin-left:5px;
                            text-align:center;
                            line-height:18px;
                        }
                    }
                    &.dropdown-sort {
                        width:240px;
                    }
                }
                &:hover {
                    .carrot {
                        .background-sprite(-66px, -315px);
                    }
                    .text {
                        color:@color_very_light_black;
                    }
                }
                &.opened {
                    background:#eee;
                    .carrot {
                        .background-sprite(-66px, -315px);
                    }
                    .track-menu {
                        .text {
                            color:@color_very_light_black;
                        }
                        &:hover {
                            .text {
                                color:@color_very_light_black;
                            }
                        }
                    }
                    .dropdown {
                        display:block;
                    }
                }
            }
            .track-menu {
                display:inline-block;
                padding:4px 16px;
                cursor:pointer;
                color:@color_gray;
                line-height:26px;
                &.track-menu-select {
                    .ic {
                        font-size:18px;
                        margin-right:0;
                    }
                    .ic:before {
                        content: "\E154"
                    }
                    &.checked {
                        .ic:before {
                            content: "\E153"; 
                        }
                    }
                }
                .ic {
                    font-size:11px;
                    margin-right:5px;
                }
                .text {
                    font-weight:400;
                    font-size:12px;
                }
                &:hover {
                    color:@color_very_light_black;
                }
            }
        }
    }
    .left-menus {
        width:190px;
        margin-right:20px;
        .custom-label-menus,
        .menus {
            .menu-wrapper {
                margin-bottom:5px;
                .menu {
                    display:block;
                    font-weight:400;
                    font-size:14px;
                    color:@color_very_light_black;
                    cursor:pointer;
                    padding:8px;
                    .text {
                        overflow:hidden;
                        position:relative;
                        white-space:nowrap;
                        text-overflow:ellipsis;
                        overflow:hidden;
                        width:150px;
                    }
                    .color {
                        float:right;
                        width:18px;
                        height:18px;
                        margin-left:5px;
                        text-align:center;
                        line-height:18px;
                    }
                    &.selected {
                        color:@color_light_purple;
                        font-weight:500;
                    }
                    &:hover {
                        background:@color_light_gray;
                        color:white;
                    }
                }
            }
        }
        .custom-label-menus {
            margin-bottom:20px;
        }
        .extra-menus {
            .btn-new-label {
                display:block;
                font-size:14px;
                color:@color_pink;
                cursor:pointer;
                font-weight:400;
                padding:5px;
                .ic {
                    font-size:11px;
                }
                &:hover {
                    text-decoration:underline;
                }
            }
        }
    }
}

#page-settings {
    padding-top:20px;
    padding-bottom:20px;
    .menus {
        background:white;
        padding:20px;
        .menu {
            margin-bottom:20px;
            .menu-name {
                font-size:14px;
                float:left;
                width:200px;
            }
            .menu-contents {
                float:left;
                color:@color_gray;
                width:780px;
                .checkbox-wrapper {
                    &.checked {
                        color:@color_very_light_black;
                    }
                }
                .checkbox {
                    display:inline-block;
                    padding-left:5px;
                    padding-right:5px;
                    .ic {
                        font-size:18px;
                        margin-right:0;
                        color:@color_dark_gray;
                    }
                    .ic:before {
                        content: "\E154"
                    }
                    &.checked {
                        .ic:before {
                            content: "\E153"; 
                        }
                    }
                }
                .genres {
                    .genre {
                        float:left;
                        width:180px;
                        margin-bottom:5px;
                    }
                }
            }
        }
    }
}
