<!DOCTYPE html>
<html>
    <head>
        <title>Dropbeat</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">

        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
        <link rel="manifest" href="/images/favicons/manifest.json">
        <link rel="shortcut icon" href="/images/favicons/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
        <meta name="theme-color" content="#000000">

        <meta name="description" content="Electronic Music Discovery &amp; Streaming For Free"/>
        <meta name="google" content="notranslate"/>
        <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
        <meta property="og:locale" content="en_US" />

        <meta property="og:title" content="Dropbeat"/>
        <meta property="og:description" content="Electronic Music Discovery &amp; Streaming For Free" />
        <meta property="og:image" content="https://s3-ap-northeast-1.amazonaws.com/dropbeat/facebook_preview.png"/>
        <meta property="og:image:width" content="200"/>
        <meta property="og:image:height" content="200"/>
        <meta property="og:site_name" content="Dropbeat"/>
    
        {% if not is_mobile %}
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        {% endif %}


        {% if request.get_host == "dropbeat.net" %}
        <script src="/js/dropbeat.player.min.20151114231419.js"></script>
        <!--[if lt IE 9]><link href="/css/dropbeat-v2.player.ltie9.min.css" rel="stylesheet" type="text/css" /><![endif]-->
        <![if gte IE 9]>
        <link href="/css/dropbeat-v2.player.min.20151114232657.css"  rel="stylesheet" type="text/css" />
        <![endif]>

        <script src="/lib/raygun.custom.js"></script>
        <script>
            Raygun.init("R8bEYxYg8puy39rnKyxtwQ==", {
                allowInsecureSubmissions: true,
                ignore3rdPartyErrors : true,
                ignoreAjaxAbort: true,
                ignoreAjaxErrorStatus: [400, 401, 403, 201]
            }).attach();
        </script>

        {% else %}

        <link href="/lib/jquery_tooltipster/tooltipster.css" rel="stylesheet" type="text/css"/>
        <link href="/lib/mprogress/mprogress.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/glyphicons.regular.css" rel="stylesheet" type="text/css" />
        <link href="/css/base.css" rel="stylesheet" type="text/css" />

        <!--[if lt IE 9]>
        <link href="/css/dropbeat_ltie9.player.css" rel="stylesheet" type="text/css" />
        <![endif]-->
        <![if gte IE 9]>
        <link href="/less/dropbeat.player.less"  rel="stylesheet/less" type="text/css" />
        <script src="/lib/less.min.js"></script>
        <![endif]>

        <script src="/lib/jquery-1.11.0.js"></script>
        <script src="/lib/jquery.extension.js"></script>
        <script src="/lib/jquery.compat.js"></script>
        <script src="/lib/jquery.cookie.js"></script>
        <script src="/lib/jquery.iecors.js"></script>
        <script src="/lib/sprintf.min.js"></script>
        <script src="/lib/soundmanager2-nodebug-jsmin.js"></script>
        <script src="/lib/jquery_tooltipster/jquery.tooltipster.js"></script>
        <script src="/lib/notify-custom.js"></script>
        <script src="/lib/underscore.min.js"></script>
        <script src="/lib/backbone.min.js"></script>
        <script src="/lib/moment.js"></script>
        <script src="/lib/mprogress/mprogress.min.js"></script>

        <script src="/js/dropbeat.player.js"></script>
        <script src="/js/music.js"></script>
        <script src="/js/notification.js"></script>
        <script src="/js/player.js"></script>
        <script src="/js/playercontrol.js"></script>
        <script src="/js/playermanager.js"></script>
        <script src="/js/view.player.js"></script>
        <script src="/js/progress.js"></script>
        <script src="/js/i18n.js"></script>
        <script src="/js/utils.js"></script>
        {% endif %}

        <!--[if lt IE 9]>
            <script src="lib/respond.js"></script>
        <![endif]-->
        <script src="http://www.youtube.com/player_api"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleStatisticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-49094112-1', 'auto');
            ga('send', 'pageview');

        </script>

    </head>

    <body>
        <div id="dropbeat" class="clearfix">
            <div id="external-player" class="hide-video hidden-in-mobile">
                <div id="youtube-player"></div>
                <div id="soundcloud-player"></div>
            </div>
            <div class="view-holder"></div>
        </div>

        <script type="text/template" id="tmpl-page-loading">
            <div id="page-loading" class="page">
                <div id="loading-progress" class="progress"></div>
                <div class="logo"></div>
            </div>
        </script>

        <script type="text/template" id="tmpl-page-failure">
            <div id="page-failure" class="page">
                <div class="page-title"><%=$dbt.string('failed_to_play') || 'Failed to play' %></div>
                <div class="page-desc"><%=message %></div>
                <div class="footer">
                    <a class="logo" href="http://dropbeat.net" target="_blank">dropbeat</a>
                </div>
            </div>
        </script>

        <script type="text/template" id="tmpl-page-player">
            <div id="page-player" class="page">
                <div id="player" class="playable-track"
                    data-music-id="<%=track.id %>" 
                    data-music-type="<%=track.type %>" 
                    data-music-title="<%=escape(track.title) %>"
                    data-music-storage-key="<%=track.getStorageKey() %>"
                    <% if (track.drop) { %>
                        data-drop-sec="<%=track.drop.when %>"
                        data-drop-type="<%=track.drop.type %>"
                        data-drop-music-id="<%=track.drop.dref %>"
                    <% } %>>
                    <div class="clearfix">
                        <div class="artwork-wrapper">
                            <a href="<%= trackLink %>" target="_blank" class="artwork">
                                <% if (track.artwork) { %>
                                    <span class="square" style="background-image:url('<%= track.artwork %>')"></span>
                                <% } else if (track.type === 'youtube') { %>
                                    <span class="yt" style="background-image:url('http://img.youtube.com/vi/<%= track.id %>/mqdefault.jpg')"></span>
                                <% } else { %>
                                    <span class="default" style="background-image:url('/images/default_cover_big.png')"></span>
                                <% } %>
                            </a>
                        </div>
                        <div class="play-contents"
                            <% if (track.artwork) { %>
                            style="background-image:url('<%= track.artwork %>')"
                            <% } else if (track.type === 'youtube') { %>
                            style="background-image:url('http://img.youtube.com/vi/<%= track.id %>/sddefault.jpg');"
                            <% } %>>
                            <div class="bg-filter"></div>
                            <div class="header-menu">
                                <div class="logo-wrapper">
                                    <a class="logo" href="http://dropbeat.net" target="_blank">dropbeat</a>
                                </div>
                                <div class="btn-wrapper">
                                    <a class="btn btn-share">
                                        <i class="glyphicons glyphicons-share"></i>
                                        <span class="text"><%=$dbt.string('share') %></span>
                                    </a>
                                </div>
                            </div>
                            <div class="contents-header">
                                <a class="ctrl-play"><i class="ic-play">play</i></a>
                                <div class="track-info">
                                    <% if (track.track_name && track.user && track.user.resource_name && track.user.nickname) { %>
                                        <span class="track-title-wrapper single-line">
                                            <a href="<%=trackLink %>" target="_blank" class="track-title"><%=track.track_name %></a>
                                        </span><br/>
                                        <span class="artist-wrapper single-line">
                                            <a href="http://dropbeat.net/r/<%=track.user.resource_name %>/" target="_blank" class="artist"><%=track.user.nickname %></a>
                                        </span>
                                    <% } else { %>
                                        <span class="track-title-wrapper">
                                            <a href="<%=trackLink %>" target="_blank" class="track-title"><%=track.title %></a>
                                        </span>
                                    <% } %>
                                    <% if (track.created_at) { %>
                                        <div class="date"><%= moment(track.created_at).format('ll') %></div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="contents-body">
                                <% if (!showWaveform) { %>
                                    <div class="progress-wrapper clearfix">
                                        <div class="progress-time">
                                            <div class="playback-time">00:00</div>
                                            <div class="duration-time"><%=moment.duration({seconds:track.duration}).format('mm:ss')%></div>
                                        </div>
                                        <div class="progress clearfix">
                                            <div class="progress-bar">
                                                <div class="progress-bar-inner">
                                                    <div class="buffer"></div>
                                                    <div class="bullet"></div>
                                                </div>
                                                <div class="drop">
                                                    <div class="drop-inner"></div>
                                                </div>
                                            </div>
                                            <div class="progress-handle">
                                                <div class="progress-handle-inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                <% } else { %>
                                    <div class="waveform-progress" data-duration="<%=track.duration %>" data-url="<%=track.waveform_url %>">
                                        <div class="bg waveform-bg-progress"></div>
                                        <div class="progress waveform-bg-progress"></div>
                                        <% if (track.drop && track.track_type !== 'MIX') { %>
                                            <div class="drop waveform-bg-progress"
                                                data-drop-start="<%= track.drop.start %>" 
                                                data-drop-end="<%= track.drop.start + 20 %>">
                                            </div>
                                        <% } %>
                                        <div class="playback-time">00:00</div>
                                        <div class="duration-time"><%=moment.duration({seconds:track.duration}).format('mm:ss')%></div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay-filter"></div>
                <div class="share-bubble">
                    <div class="arrow"></div>
                    <div class="url-wrapper">
                        <input class="input-url" type="url" value="<%=trackLink %>" />
                    </div>
                    <div class="share-btns">
                        <a class="btn-share btn-fb-share" data-width="550" data-height="450" target="_blank" href="https://www.facebook.com/dialog/share?app_id=<%=$dbt.context.fbClientId %>&display=popup&href=<%=trackLink%>&redirect_uri=<%=trackLink%>">facebook</a>
                        <a class="btn-share btn-twit-share" data-width="550" data-height="350" target="_blank" href="http://twitter.com/share?text=<%=track.title %>&url=<%=trackLink%>&hashtags=DROPBEAT">twitter</a>
                        <a class="btn-share btn-tmbr-share" data-width="550" data-height="916" target="_blank" href="http://www.tumblr.com/share/audio?externally_hosted_url=<%=trackLink%>">tumblr</a>
                        <a class="btn-share btn-email-share" href="mailto:?subject=<%=track.title %>&body=<%= trackLink %>">email</a>
                    </div>
                </div>
            </div>
        </script>
    </body>
</html>
