<!DOCTYPE html>
<html>
    <head>
        <title>Dropbeat</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">

        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
        <link rel="manifest" href="/images/favicons/manifest.json">
        <link rel="shortcut icon" href="/images/favicons/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
        <meta name="theme-color" content="#000000">

        <meta name="description" content="Electronic Music Discovery &amp; Streaming For Free"/>
        <meta name="google" content="notranslate"/>
        <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
        <meta property="og:locale" content="en_US" />
        <meta name="apple-itunes-app" content="app-id=998263412{% if applink %}, app-argument={{ applink }}{% endif %}">

        <meta property="og:title" content="Dropbeat"/>
        <meta property="og:description" content="Electronic Music Discovery &amp; Streaming For Free"/>
        <meta property="og:image" content="https://s3-ap-northeast-1.amazonaws.com/dropbeat/facebook_preview.png"/>
        <meta property="og:image:width" content="200"/>
        <meta property="og:image:height" content="200"/>
        <meta property="og:site_name" content="Dropbeat"/>

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic' rel='stylesheet' type='text/css'>

        {% if request.get_host == "dropbeat.net" %}

        <script src="/js/dropbeat.record_demo.min.20151114231510.js"></script>
        <link href="/css/dropbeat.record_demo.min.20151114232730.css"  rel="stylesheet" type="text/css" />

        <script src="/lib/raygun.custom.js"></script>
        <script>
            Raygun.init("R8bEYxYg8puy39rnKyxtwQ==", {
                allowInsecureSubmissions: true,
                ignore3rdPartyErrors : true,
                ignoreAjaxAbort: true,
                ignoreAjaxErrorStatus: [400, 401, 403, 201]
            }).attach();
        </script>

        {% else %}

        <link href="/lib/jquery_ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
        <link href="/lib/jquery_ui/jquery-ui.structure.min.css" rel="stylesheet" type="text/css"/>
        <link href="/lib/jquery_ui/jquery-ui.theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="/lib/bootstrap/glyphicons.halflings.css" rel="stylesheet" type="text/css"/>
        <link href="/lib/jquery_tooltipster/tooltipster.css" rel="stylesheet" type="text/css"/>
        <link href="/lib/bootstrap/bootstrap.modal.css" rel="stylesheet" type="text/css"/>
        <link href="/css/glyphicons.regular.css" rel="stylesheet" type="text/css" />
        <link href="/css/glyphicons.social.css" rel="stylesheet" type="text/css" />
        <link href="/css/base.css" rel="stylesheet" type="text/css" />

        <link href="/lib/spectrum/spectrum.css" rel="stylesheet" type="text/css"/>
        <link href="/less/dropbeat.record_demo.less"  rel="stylesheet/less" type="text/css" />
        <script src="/lib/less.min.js"></script>

        <script src="/lib/jquery-1.11.0.js"></script>
        <script src="/lib/jquery_ui/jquery-ui.min.js"></script>
        <script src="/lib/jquery.extension.js"></script>
        <script src="/lib/jquery.compat.js"></script>
        <script src="/lib/jquery.cookie.js"></script>
        <script src="/lib/jquery.iecors.js"></script>
        <script src="/lib/sprintf.min.js"></script>
        <script src="/lib/bootstrap/bootstrap.carousel.js"></script>
        <script src="/lib/bootstrap/bootstrap.modal.js"></script>
        <script src="/lib/soundmanager2-nodebug-jsmin.js"></script>
        <script src="/lib/jquery_tooltipster/jquery.tooltipster.js"></script>
        <script src="/lib/notify-custom.js"></script>
        <script src="/lib/underscore.min.js"></script>
        <script src="/lib/backbone.min.js"></script>
        <script src="/lib/jquery.placeholder.js"></script>
        <script src="/lib/moment.js"></script>
        <script src="/lib/chance.min.js"></script>
        <script src="/lib/spectrum/spectrum.js"></script>

        <script src="/js/dropbeat.record_demo.js"></script>
        <script src="/js/music.js"></script>
        <script src="/js/notification.js"></script>
        <script src="/js/player.js"></script>
        <script src="/js/playercontrol.js"></script>
        <script src="/js/playermanager.js"></script>
        <script src="/js/playlist.js"></script>
        <script src="/js/view.record_demo.js"></script>
        <script src="/js/progress.js"></script>
        <script src="/js/router.record_demo.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/i18n.js"></script>
        {% endif %}

        <!--[if lt IE 9]>
            <script src="lib/respond.js"></script>
        <![endif]-->
        <script src="http://www.youtube.com/player_api"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleStatisticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-49094112-1', 'auto');
            ga('send', 'pageview');

        </script>

    </head>

    <body>
        <div id="dropbeat">
            <div id="external-player" class="hidden-in-mobile">
                <div id="soundcloud-player"></div>
            </div>
            <header class="header-section">
                <div class="clearfix page-frame">
                    <a href="/" class="logo">
                        <i class="ic-logo"></i>
                    </a>
                    <div class="admin-title">Record label Admin</div>
                    <ul class="nav-menus">
                        <li class="nav-menu-wrapper">
                            <a class="nav-menu nav-menu-inbox tooltip" 
                                title="Submitted track management" data-href="/label_admin/inbox">
                                <i class="ic glyphicons glyphicons-inbox"></i>
                                <span class="text">Inbox</span>
                            </a>
                            <a class="nav-menu nav-menu-settings tooltip" 
                                title="Submission policy settings" data-href="/label_admin/settings">
                                <i class="ic glyphicons glyphicons-cogwheel"></i>
                                <span class="text">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="contents">
                <div class="contents-inner">
                </div>
            </div>
        </div>
        <div class="overlay-filter"></div>
        <div id="modal"></div>

        <script type="text/template" id="tmpl-default-page-frame">
            <div class="scroll-y">
                <div class="body-section">
                    <div class="body-section-inner"></div>
                </div>
                <div class="footer-section">
                    <div class="page-frame clearfix">
                        <div class="copyright">Copyright 2015 Dropbeat Inc.</div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="tmpl-page-settings">
            <div id="page-settings" class="page page-frame">
                <ul class="menus">
                    <li class="menu menu-reapply-policy clearfix">
                        <div class="menu-name">Resubmission Policy <i class="ic glyphicons glyphicons-circle-question-mark tooltip" title="Limit resubmissions for a certain period"></i></div>
                        <div class="menu-contents">
                            <div class="option-select-box">
                                <div class="option-select">
                                    <div class="selected-option">
                                        <div class="text">No limit</div><!--
                                        --><i class="glyphicons glyphicons-chevron-down"></i>
                                    </div>
                                    <ul class="dropdown clearfix">
                                        <li class="option" data-key="_">No limit</li>
                                        <li class="option" data-key="limit_day">1 Day</li>
                                        <li class="option" data-key="limit_week">1 Week</li>
                                        <li class="option" data-key="limit_two_week">2 week</li>
                                        <li class="option" data-key="limit_month">1 month</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu menu-receive-private clearfix">
                        <div class="menu-name">Submission Track Type</div>
                        <div class="menu-contents checkbox-wrapper">
                            <a class="checkbox"><i class="ic ic-checkbox glyphicons"></i></a>
                            <span class="text">Receive only private tracks</span>
                        </div>
                    </li>

                    <li class="menu menu-receive-private clearfix">
                        <div class="menu-name">Submission Track Genre</div>
                        <div class="menu-contents">
                            <div class="genres">
                                <% $dbt.$.each($dbt.context.genre['default'], function(idx, genre) { %>
                                <% var checked = chance.bool({likelihood: 80}) %>
                                <div class="genre checkbox-wrapper<% if (checked) { %> checked<% } %>">
                                    <a class="checkbox<% if (checked) { %> checked<% } %>"><i class="ic ic-checkbox glyphicons"></i></a>
                                    <span class="text"><%=genre.name.capitalize() %></span>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </script>

        <script type="text/template" id="tmpl-page-inbox">
            <div id="page-inbox" class="page">
                <div class="overlay-frame page-frame clearfix">
                    <div class="left-menus">
                        <ul class="menus">
                            <li class="menu-wrapper">
                                <a class="menu menu-inbox selected" data-menu="inbox">Inbox</a>
                            </li>
                            <li class="menu-wrapper">
                                <a class="menu menu-important" data-menu="important">Important</a>
                            </li>
                        </ul>
                        <ul class="custom-label-menus"></ul>
                        <div class="extra-menus">
                            <a class="btn-new-label">
                                <i class="ic glyphicons glyphicons-plus"></i>
                                <span class="text">Create new label</span>
                            </a>
                        </div>
                    </div>
                    <div class="right-contents">
                        <div class="overlay-filter"></div>
                        <div class="track-menus-wrapper clearfix">
                            <div class="search-box">
                                <form id="search-form">
                                    <i class="ic ic-search glyphicons glyphicons-search"></i>
                                    <input type="text" id="search-keyword" placeholder="track or artist"/>
                                    <input type="submit" class="visuallyhidden"/>
                                </form>
                            </div>
                            <ul class="track-menus">
                                <li class="track-menu-wrapper track-menu-dropdown-wrapper">
                                    <a class="track-menu track-menu-select" data-action="toggle-all">
                                        <i class="ic glyphicons"></i>
                                    </a>
                                    <i class="carrot">V</i>
                                    <div class="dropdown dropdown-select">
                                        <ul class="actions">
                                            <li class="action action-select-all" data-action="select-all">All</li>
                                            <li class="action action-select-none" data-action="select-none">None</li>
                                            <li class="action action-select-read" data-action="select-read">Read</li>
                                            <li class="action action-select-unread" data-action="select-unread">Unread</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="track-menu-wrapper track-menu-dropdown-wrapper">
                                    <span class="track-menu track-menu-action">
                                        <span class="text">Action</span>
                                    </span>
                                    <i class="carrot">V</i>
                                    <div class="dropdown dropdown-action">
                                        <ul class="actions">
                                            <li class="action action-mark-as-read" data-action="mark-as-read">Mark as read</li>
                                            <li class="action action-mark-as-read" data-action="mark-as-unread">Mark as unread</li>
                                            <li class="action action-mark-as-important" data-action="mark-as-important">Mark as important</li>
                                            <li class="action action-mark-as-not-important" data-action="mark-as-not-important">Mark as not important</li>
                                        </ul>
                                        <ul class="custom-actions"></ul>
                                        <a class="action action-delete" data-action="delete">Delete</a>
                                    </div>
                                </li>
                                <li class="track-menu-wrapper">
                                    <a class="track-menu track-menu-filter" data-action="select-filter">
                                        <i class="ic glyphicons glyphicons-filter"></i>
                                        <span class="text">Filter</span>
                                    </a>
                                </li>
                                <li class="track-menu-wrapper track-menu-dropdown-wrapper">
                                    <span class="track-menu track-menu-action">
                                        <i class="ic glyphicons glyphicons-sort-by-attributes-alt"></i>
                                        <span class="text">Sort</span>
                                    </span>
                                    <i class="carrot">V</i>
                                    <div class="dropdown dropdown-sort">
                                        <ul class="actions">
                                            <li class="action action-sort-by-time selected" data-action="sort-by-time">Sort by time</li>
                                            <li class="action action-sort-by-followers" data-action="sort-by-followers">Sort by number of followers</li>
                                            <li class="action action-sort-by-total-playing" data-action="sort-by-total-playing">Sort by play count</li>
                                            <li class="action action-sort-by-total-playing-month" data-action="sort-by-total-playing-month">Sort by play count in the last one month</li>
                                            <li class="action action-sort-by-track-count" data-action="sort-by-track-count">Sort by number of tracks</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="clearfix"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="scroll-y">
                    <div class="body-section">
                        <div class="body-section-inner">
                            <div class="page-frame">
                                <div class="tracks">
                                    <div class="track">
                                        <div class="title">Fall Over (Prod. PS Beats)</div>
                                        <div class="artist">Blu Denim Music</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-section">
                        <div class="page-frame clearfix">
                            <div class="copyright">Copyright 2015 Dropbeat Inc.</div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type=text/template" id="tmpl-custom-label-menus">
            <% $dbt.$.each(labels, function(idx, label) { %>
            <li class="menu-wrapper">
                <a class="menu menu-custom-label menu-custom-label-<%=label.id %> clearfix" data-menu="custom-label" data-label-id="<%=label.id%>">
                    <div class="color" style="background:<%=label.bgColor%>; color:<%=label.textColor%>">A</div>
                    <div class="text"><%=label.name%></div>
                </a>
            </li>
            <% }) %>
        </script>

        <script type=text/template" id="tmpl-custom-label-actions">
            <% $dbt.$.each(labels, function(idx, label) { %>
            <li class="action action-mark-as-custom-label clearfix" data-action="mark-as-custom-label" data-label-id="<%=label.id %>">
                <div class="color" style="background:<%=label.bgColor%>; color:<%=label.textColor%>">A</div>
                <div class="text">Mark as <%=label.name %></div>
            </li>
            <% }) %>
        </script>

        <script type="text/template" id="tmpl-this-browser-is-not-supported">
            <div id="this-browser-is-not-supported">
                <div class="bg-image"></div>
                <div class="bg-gradient-1"></div>
                <div class="bg-gradient-2"></div>
                <div class="bg-filter"></div>
                <div class="bg-dot"></div>
                <div class="contents">
                    <h1 class="title"><%=$dbt.string("visit_modern_browser") %></h1>
                    <h2 class="sub-title">- <%=$dbt.string("browser_not_supported") %> -</h2>
                    <a class="upgrade-btn" href='http://windows.microsoft.com/en-us/internet-explorer/ie-11-worldwide-languages'>Upgrade Link</a>
                </div>
            </div>
        </script>

        <script type="text/template" id="tmpl-page-404">
            <div id="page-404" class="page page-frame">
                <div class="page-title"><%=$dbt.string("page_not_found") %></div>
                <% if (path) { %>
                <div class="page-desc"><%=$dbt.string("failed_to_find_path_%s", path) %></div>
                <% } else { %>
                <div class="page-desc"><%=$dbt.string("please_check_url") %></div>
                <% } %>
                <a data-href="/" class="btn btn-gray"><%=$dbt.string("dropbeat_home") %></a>
            </div>
        </script>

        <script type="text/template" id="tmpl-received-track">
            <div class="track playable-track<% if (track.isChecked) { %> selected<% } %><% if (!track.didRead) { %> unread<% } %>" 
                    data-music-id="<%=track.id %>"
                    data-music-type="<%=track.type %>" 
                    data-music-title="<%=escape(track.title) %>"
                    data-music-storage-key="<%=track.storage_key %>"
                    <% if (track.drop) { %>
                        data-drop-sec="<%=track.drop.when %>"
                        data-drop-type="<%=track.drop.type %>"
                        data-drop-music-id="<%=track.drop.dref %>"
                    <% } %>>
                <div class="track-header clearfix">
                    <div class="checkbox-wrapper cell">
                        <div class="inner-cell">
                            <a class="checkbox<% if (track.isChecked) { %> checked<% } %>"><i class="ic ic-checkbox glyphicons"></i></a>
                        </div>
                    </div>
                    <div class="artist cell">
                        <a class="name" href="http://soundcloud.com/hardwell" target="_blank"><%=track.user.nickname %></a>
                        <div class="numbers">
                            <div class="number followers-wrapper tooltip" title="Number of followers">
                                <i class="ic glyphicons glyphicons-group"></i>
                                <span class="count followers"><%=$dbt.utils.toShortNumber(track.user.num_followers) %></span>
                            </div>
                            <div class="number total-playing tooltip" title="Total play count">
                                <i class="ic glyphicons glyphicons-play"></i> 
                                <span class="count total-playing"><%=$dbt.utils.toShortNumber(track.user.total_playing) %></span>
                            </div>
                            <div class="number total-playing-month tooltip" title="Total play count in the last one month">
                                <i class="ic glyphicons glyphicons-play"></i> 
                                <span class="count total-playing-month"><%=$dbt.utils.toShortNumber(track.user.total_playing_month) %></span>
                            </div>
                            <div class="number track-count-wrapper tooltip" title="Number of tracks">
                                <i class="ic glyphicons glyphicons-playlist"></i> 
                                <span class="count track-count"><%=$dbt.utils.toShortNumber(track.user.track_count) %></span>
                            </div>
                        </div>
                    </div>
                    <div class="genre-wrapper cell">
                        <div class="inner-cell genre"><%=track.genre %></div>
                    </div>
                    <div class="date-wrapper cell">
                        <div class="inner-cell date"><%=moment(track.registered_at).fromNow(true) %></div>
                    </div>
                    <div class="drop-wrapper cell">
                        <div class="inner-cell drop">
                            <% if (track.drop) { %>
                                <a class="listen-drop tooltip" title="Listen highlight"><span class="text">drop</span><div class="loader"/></a>
                            <% } %>
                        </div>
                    </div>
                    <div class="title cell">
                        <div class="inner-cell">
                            <% if (track.labels.length > 0 && (track.labels.length > 1 || track.labels.where({id: navMenu}).length === 0)) { %>
                            <div class="labels clearfix">
                                <% $dbt.$.each(track.labels.models, function(idx, label) { %>
                                    <% if (label.get('id') !== navMenu) { %>
                                        <div class="label label-<%=label.get('key') %>" style="background:<%= label.get('bgColor') %>; color:<%=label.get('textColor') %>"><%=label.get('name') %></div>
                                    <% } %>
                                <% }) %>
                            </div>
                            <% } %>
                            <a class="track-name play-music tooltip-right" title="Listen full track"><%=track.track_name %></a>
                        </div>
                    </div>
                </div>
                <div class="track-body">
                    <div class="description tooltip-right" title="Short message from submitter">
                        <%= $dbt.utils.toHtml(track.description) %>
                    </div>
                    <a class="ctrl-play"><i class="ic-play">play</i></a>
                    <div class="progress-frame">
                        <% if (!showWaveform) { %>
                            <div class="progress-wrapper clearfix">
                                <div class="progress-time">
                                    <div class="playback-time">00:00</div>
                                    <div class="duration-time"><%=moment.duration({seconds:track.duration}).format('mm:ss')%></div>
                                </div>
                                <div class="progress clearfix">
                                    <div class="progress-bar">
                                        <div class="progress-bar-inner">
                                            <div class="buffer"></div>
                                            <div class="bullet"></div>
                                        </div>
                                        <div class="drop">
                                            <div class="drop-inner"></div>
                                        </div>
                                    </div>
                                    <div class="progress-handle">
                                        <div class="progress-handle-inner"></div>
                                    </div>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="waveform-progress" data-duration="<%=track.duration %>" data-url="<%=track.waveform_url %>">
                                <div class="bg waveform-bg-progress"></div>
                                <div class="progress waveform-bg-progress"></div>
                                <% if (track.drop && track.track_type !== 'MIX') { %>
                                    <div class="drop waveform-bg-progress"
                                        data-drop-start="<%= track.drop.start %>" 
                                        data-drop-end="<%= track.drop.start + 20 %>">
                                    </div>
                                <% } %>
                                <div class="playback-time">00:00</div>
                                <div class="duration-time"><%=moment.duration({seconds:track.duration}).format('mm:ss')%></div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="tmpl-modal-track-filter">
            <div class="modal scroll-y<% if (!$dbt.context.isMobile) { %> fade<% } %>" 
                id="modal-track-filter" tabindex="-1" role="dialog" aria-labelledby="modal-filter" aria-hidden="true">
                <div class="overlay-filter"></div>
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a class="btn-close" data-dismiss="modal" aria-label="Close">
                                <i class="ic ic-close"></i>
                            </a>
                            <h4 class="modal-title">Filter</h4>
                        </div>
                        <form id="signin-form">
                            <div class="modal-body">
                                <div class="track-filter track-filter-by-date">
                                    <div class="filter-label">By date</div>
                                    <div class="filter-contents">
                                        <input type="text" id="filter-from" placeholder="From"/>
                                        <span>~</span>
                                        <input type="text" id="filter-to" placeholder="To"/>
                                    </div>
                                </div>
                                <div class="track-filter track-filter-by-genre">
                                    <div class="filter-label">By genre</div>
                                    <div class="filter-contents">
                                        <div class="option-select-box">
                                            <div class="option-select">
                                                <div class="selected-option">
                                                    <div class="text">--</div><!--
                                                    --><i class="glyphicons glyphicons-chevron-down"></i>
                                                </div>
                                                <ul class="dropdown clearfix">
                                                    <li class="option" data-key="_">--</li>
                                                    <% $dbt.$.each($dbt.context.genre['default'], function(idx, genre) { %>
                                                    <li class="option" data-key="<%=genre.name.toLowerCase() %>"><%=genre.name.capitalize() %></li>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="visuallyhidden"/>
                                <a class="btn btn-save" disabled>
                                    <span class="text">Apply</span>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="overlay-filter"></div>
                </div>
            </div>
        </script>

        <script type="text/template" id="tmpl-modal-new-label">
            <div class="modal scroll-y<% if (!$dbt.context.isMobile) { %> fade<% } %>" 
                id="modal-new-label" tabindex="-1" role="dialog" aria-labelledby="modal-new-label" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a class="btn-close" data-dismiss="modal" aria-label="Close">
                                <i class="ic ic-close"></i>
                            </a>
                            <h4 class="modal-title">Create new label</h4>
                        </div>
                        <form id="form-new-label">
                            <div class="modal-body">
                                <div class="input-wrapper name-input-wrapper">
                                    <input type="text" class="input-name" placeholder="label name"/>
                                </div>
                                <div class="input-wrapper text-color-input-wrapper">
                                    <span class="input-label">text color: </span>
                                    <input type="text" class="input-text-color"/>
                                </div>
                                <div class="input-wrapper bg-color-input-wrapper">
                                    <span class="input-label">bg color: </span>
                                    <input type="text" class="input-bg-color"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="visuallyhidden"/>
                                <a class="btn btn-save" disabled>
                                    <span class="text">Create</span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </script>

    </body>
</html>

